//MOBILE MENU
.mobile-navigation#mob-nav
	ul
		li
			a(href="#!")
				svg.svg-search(width="22" height="22")
					use(href='./img/sprite.svg#svg-search')
		li.active
			a(href="#!")
				svg.svg-catalogy(width="22" height="22")
					use(href='./img/sprite.svg#svg-catalogy')
		li
			a(href="#!")
				img(src="./img/mob-menu/tools.webp", srcset="./img/mob-menu/tools@2x.webp 2x" width="28" height="28" alt="alt")
		li
			a(href="#!")
				svg.svg-user(width="22" height="22")
					use(href='./img/sprite.svg#svg-user')
		li
			a(href="basket-page-mob.html")
				svg.svg-cart(width="22" height="22")
					use(href='./img/sprite.svg#svg-cart')