include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Карточка продукта
				.container-dashboard__content
					//VARIANT #1
					.detailed-card
						.detailed-card__body.bx-sh
							.detailed-card-group
								span.detailed-art.txt-12 Код: 105703
								.detailed-title.txt-24 Речной мытый песок
								.rating-block.flex
									.rating-stars
									span.txt-12 39 отзывов
							
							.price-block
								.price-block__item
									p от от 870 руб./м3
									span.txt-12 за шт
								.price-block__item
									p от 700 руб./тн
									span.txt-12 В розницу
							
							.detailed-card-group
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
				
								.detailed-total
									span.txt-12 Стоимость
									p.amount 700 000 руб
							
							
							button.btn-primary В корзину
							button.btn Рассчитать стоимость
						
						.detailed-card__footer.bx-sh
							ul.dotted-list
								li
									p.list__name Наличие
									span.line-bwn
									p.list__val Много
								li
									p.list__name Доставка
									span.line-bwn
									p.list__val 24/7
								li
									p.list__name Способ получения
									span.line-bwn
									p.list__val Самовывоз, Доставка
					//VARIANT #2
					.detailed-card
						.detailed-card__body.bx-sh
							.detailed-card-group
								span.detailed-art.txt-12 Код: 105703
								.detailed-title.txt-24 Гусеничный экскаватор Hyundai R 210LC-7
								.rating-block.flex
									.rating-stars
									span.txt-12 39 отзывов
							
								.price-block
									.price-block__item
										p от 15 870 руб./смена
										span.txt-12 за шт
							
							.detailed-card-group
								.select-date.select-date--light
									.form-item.select-date-start
										input#start-date(type='text' name="startDay" value="10.02.2025")
									span &ndash;
									.form-item.select-date-end
										input#end-date(type='text' name="endtDay" value="12.02.2025")
								
								.counter.counter-small
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
				
								.detailed-total
									span.txt-12 Стоимость
									p.amount 70 000 руб *
									span.txt-12 *Цена указана без учета доставки 
							
							
							button.btn-primary В корзину
							
						
						.detailed-card__footer.bx-sh
							ul.dotted-list
								li
									p.list__name Наличие
									span.line-bwn
									p.list__val Много
								li
									p.list__name Доставка
									span.line-bwn
									p.list__val 24/7
								li
									p.list__name Способ получения
									span.line-bwn
									p.list__val Самовывоз, Доставка


					//ORDER CARD
					.order-card.detailed-card.bx-sh
						.detailed-card__body
							.detailed-card-group
								.order-num.txt-12 Заказ: 105703
								.detailed-title.txt-24 Всего в корзине
								ul.detailed-list
									li
										span.list__name Строй материалы 
										p.list__val 130 000 руб
									li
										span.list__name Аренда
										p.list__val 500 200 руб
									li
										span.list__name Оборудование 
										p.list__val 30 200 руб
							
								.order-list-total
									span Всего: 
									p.amount 206 200 руб*
							.center-txt *Цена указана без учета доставки
							button.btn-primary Оформить заказ
							p.agree-txt.center-txt Согласен с обработкой моих персональных данных в соответствии с #[a(href="#!") политикой конфиденциальности]. 
		script.
		
			// Находим все элементы счетчика
			const counters = document.querySelectorAll('.counter');
		
			// Перебираем каждый блок счетчика
			counters.forEach((counter) => {
				const minusButton = counter.querySelector('.counter-minus'); // Кнопка уменьшения
				const plusButton = counter.querySelector('.counter-plus'); // Кнопка увеличения
				const input = counter.querySelector('.counter-value'); // Поле ввода
			
				// Обработчик клика на кнопку уменьшения
				minusButton.addEventListener('click', () => {
					let currentValue = parseInt(input.value, 10) || 0; // Получаем текущее значение
					if (currentValue > parseInt(input.min, 10)) {
					input.value = currentValue - 1; // Уменьшаем значение
					}
				});
			
				// Обработчик клика на кнопку увеличения
				plusButton.addEventListener('click', () => {
					let currentValue = parseInt(input.value, 10) || 0; // Получаем текущее значение
					input.value = currentValue + 1; // Увеличиваем значение
				});
			
				// Ограничение на ввод в поле (для соблюдения min)
				input.addEventListener('input', () => {
					let currentValue = parseInt(input.value, 10) || 0;
					if (currentValue < parseInt(input.min, 10)) {
						input.value = input.min; // Если меньше min, сбрасываем
					}
				});
			});
			