include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Карточка категории
				.container-dashboard__content
					.assort-card
						p Строительное оборудование, строительные материалы
						img(src="../img/category/cat1.webp", srcset="../img/category/cat1@2x.webp 2x" alt="img")
					pre.
						+assort-card('Строительное оборудование, строительные материалы', 1)
				.category-cards.grid-wrapper
					+assort-card-ui('Строительное оборудование, строительные материалы', 1)
					+assort-card-ui('Аренда спец техники, аренда дорожной техники', 2)
					+assort-card-ui('Оборудование для строительной техники', 3)
					+assort-card-ui('Ремонт помещений, строительные работы, загородные работы.', 4)