include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Карточка Корзины
				.container-dashboard__content
					//CARDS GROUP
					.basket-group
						.basket-group__header.flex
							.txt-16 Строй материалы
							button.remove-btn.flex-link
								span.remove-icon
								| Удалить категорию
						
						//CARD-ROW
						.basket-card
							.basket-card__status
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod_status")
									span.basket-card__status-type
							
							.basket-card__img
								img.wh-100(src="./img/products/prod1.webp", srcset="./img/products/prod1@2x.webp 2x", alt="img" loading="lazy")
							
							.basket-card__desk
								.txt-20 Название товара
								ul.txt-12
									li Модуль крупности: 2.0-2.5
									li Коэфф. фильтрации: до 12 м 
									li Насыпная плотность: 1.6
									li Содержание глины: ≤ 0,25%
									
							.basket-card__options
								.basket-card__data 06.05.25 - 12.05.25
								+counter-light
								span.txt-12 от 870 руб./м3
								.txt-12
							.basket-card__amount 130 200 руб
							.basket-card__remove
								button.remove-btn
									span.remove-icon
						//CARD-ROW
						.basket-card
							.basket-card__status
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod_status")
									span.basket-card__status-type
							
							.basket-card__img
								img.wh-100(src="./img/products/prod1.webp", srcset="./img/products/prod1@2x.webp 2x", alt="img" loading="lazy")
							
							.basket-card__desk
								.txt-20 Название товара
								ul.txt-12
									li Модуль крупности: 2.0-2.5
									li Коэфф. фильтрации: до 12 м 
									li Насыпная плотность: 1.6
									li Содержание глины: ≤ 0,25%
									
							.basket-card__options
								.basket-card__data 06.05.25 - 12.05.25
								+counter-light
								span.txt-12 от 870 руб./м3
								.txt-12
							.basket-card__amount 130 200 руб
							.basket-card__remove
								button.remove-product
									span.remove-icon

			script.
				//BASKET CARDS
				const basketCards = document.querySelectorAll('.basket-card');
				if(basketCards.length > 0){
					console.log(basketCards);
					basketCards.forEach((card)=>{
						const basketCardStatus = card.querySelector('.label-hide-chebx');
						basketCardStatus.addEventListener('click', ()=>{
							console.log('click');
						const statusImput = basketCardStatus.querySelector('input');
						if(statusImput.checked){
							card.classList.add('basket-card--disable');
						}else{
							card.classList.remove('basket-card--disable');
						}
						})
					})
				}