include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты

				.container-dashboard__content
					
					.promo-top
						+breadcrumbs-ui('Каталог','Блог')
						+city-block
					
					div(style="background-color: #222; padding: 40px;")
						.promo.promo-dark
							+breadcrumbs-ui('Каталог','Блог')
							+city-block
				h3 пагинация
				nav.pagination
					a(href="#").pagination-item.pagination-prev 
						svg.svg-arrow-left
							use(href='../img/sprite.svg#svg-arrow-left')
						| Назад
					
					a(href="#").pagination-item 1
					a(href="#").pagination-item 2
					a(href="#").pagination-item 3
					a(href="#").pagination-item 4
					a(href="#").pagination-item.pagination-next Вперед
						svg.svg-arrow-right
							use(href='../img/sprite.svg#svg-arrow-right')
				pre.
					nav.pagination
						a(href="#").pagination-item.pagination-prev 
							svg.svg-arrow-left
								use(href='../img/sprite.svg#svg-arrow-left')
							| Назад
						
						a(href="#").pagination-item 1
						a(href="#").pagination-item 2
						a(href="#").pagination-item 3
						a(href="#").pagination-item 4
						a(href="#").pagination-item.pagination-next Вперед
							svg.svg-arrow-right
								use(href='../img/sprite.svg#svg-arrow-right')
				
				hr
				div(style="background-color: #222; padding: 40px;")
					.header-group
						h2.h3.white-txt Наши услуги 
						a(href="#!").btn-outline Посмотреть больше услуг
				pre.
					.header-group
						h2.h3.white-txt Наши услуги 
						a(href="#!").btn-outline Посмотреть больше услуг
				hr
				.rating-block
					.rating-block.flex
						.rating-stars
						span.txt-12 39 отзывов
				pre.
					.rating-block
						.rating-block.flex
							.rating-stars
							span.txt-12 39 отзывов
				
				br
				.rating-stars
				pre.
					.rating-stars
				hr
				+counter
				pre.
					+counter
				+counter-light
				pre.
					+counter-light
				hr
				.price-block
					.price-block__item
						p от от 870 руб./м3
						span.txt-12 за шт
				pre.
					.price-block
						.price-block__item
							p от от 870 руб./м3
							span.txt-12 за шт