include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
		
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard
		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма
				.container-dashboard__content
					
					.select-date
						.form-item
							input#start-date(type='text' name="startDay" placeholder="c")
						.form-item
							input#end-date(type='text' name="endtDay" placeholder="по")
					br
					#selectProductForm
						.add-product-group.flex
							.form-dropdown.dropdown
								button.dropdown__button(type="button") Выбрать
								
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Речной песок") Речной песок
										li.dropdown__list-item(data-value="Пример заполнения 2") Пример заполнения 2
										li.dropdown__list-item(data-value="Пример заполнения 3") Пример заполнения 3
										li.dropdown__list-item(data-value="Пример заполнения 4") Пример заполнения 4
							.select-date
								.form-item
									input#start-date(type='text' name="startDay" placeholder="c")
								.form-item
									input#end-date(type='text' name="endtDay" placeholder="по")
						button#add-product.add-product-btn
							span.button-icon
								svg.svg-plus
									use(href='../img/sprite.svg#svg-plus')
							| Добавить еще товар
					script.
						 const newProductHTML = `
							<div class="add-product-group flex">
								<div class="form-dropdown dropdown">
								<button class="dropdown__button" type="button">Выбрать</button>
								<div class="dropdown__list">
									<ul>
									<li class="dropdown__list-item" data-value="Речной песок">Речной песок</li>
									<li class="dropdown__list-item" data-value="Пример заполнения 2">Пример заполнения 2</li>
									<li class="dropdown__list-item" data-value="Пример заполнения 3">Пример заполнения 3</li>
									<li class="dropdown__list-item" data-value="Пример заполнения 4">Пример заполнения 4</li>
									</ul>
								</div>
								</div>
								<div class="select-date">
								<div class="form-item">
									<input id="start-date" type="text" name="startDay" placeholder="c">
								</div>
								<div class="form-item">
									<input id="end-date" type="text" name="endDay" placeholder="по">
								</div>
								</div>
							</div>
							`;

							// Находим кнопку
							const addButton = document.getElementById("add-product");

							// Добавляем обработчик клика
							addButton.addEventListener("click", () => {
							// Находим контейнер
							const container = document.getElementById("selectProductForm");

							// Создаем временный элемент
							const newBlock = document.createElement("div");
							newBlock.innerHTML = newProductHTML;

							// Вставляем перед кнопкой
							container.insertBefore(newBlock.firstChild, addButton);
							});
					br
					
					
					.form-item
						input(type="text" placeholder="Адрес *")
					pre.
						.form-item
							input(type="search" placeholder="Адрес *")
					hr
					.form-item
						textarea(placeholder="Примечание")
					pre.
						.form-item
							textarea(placeholder="Примечание")
					br
					.form-row
						.form-item
							input(type="tel" placeholder="Телефон *")
						.form-item
							input(type="email" placeholder="Email *")
					p.agree-txt Подписываясь на рассылку, вы соглашаетесь с #[a(href="#!") условиями оферты] и #[a(href="#!") политикой конфиденциальности]
					
					pre.
						.form-row
							.form-item
								input(type="tel" placeholder="Телефон *")
							.form-item
								input(type="email" placeholder="Email *")
						p.agree-txt Подписываясь на рассылку, вы соглашаетесь с #[a(href="#!") условиями оферты] и #[a(href="#!") политикой конфиденциальности]
					
					hr
					.form-item
						input.light-border(type="text")
						button.btn-send
							img(src="../img/send.svg", alt="send")
					pre.
						.form-item
							input.light-border(type="text")
							button.btn-send
								img(src="../img/send.svg", alt="send")
					hr
					+select("Речной песок", 'product_name')
					pre.
						+select("Речной песок", 'product_name')
				div(style="background: #1c1c1c; padding:30px")
					form.form.form-dark
						.form-item
							input(type="text" placeholder="Адрес *")
					pre.
						form.form.form-dark
							.form-item
								input(type="text" placeholder="Адрес *")
						
					.form-item.search-form-group
						input(type="search" placeholder="Поиск")
						button.btn.search-btn(type="submit")
							svg.svg-search
								use(href='../img/sprite.svg#svg-search')
					hr
					
		
		script(src='https://cdn.jsdelivr.net/npm/flatpickr')
		script(src='https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js')
		script.
			
			flatpickr("#start-date", {
				mode: "range",
				locale: flatpickr.l10ns.ru,
				dateFormat: "d.m.Y",
				minDate:'today',
				onChange: function(selectedDates) {
					if (selectedDates.length === 2) {
						document.getElementById("start-date").value = flatpickr.formatDate(selectedDates[0], "d.m.Y");
						document.getElementById("end-date").value = flatpickr.formatDate(selectedDates[1], "d.m.Y");
					}
				}
			});
	
		script.
			//- document.addEventListener("DOMContentLoaded", () => {
			//- 	flatpickr("#start-date", {
			//- 		mode: "range",
			//- 		locale: flatpickr.l10ns.ru,
			//- 		dateFormat: "d.m.Y",
			//- 		minDate:'today',
			//- 		onChange: function(selectedDates) {
			//- 			if (selectedDates.length === 2) {
			//- 				document.getElementById("start-date").value = flatpickr.formatDate(selectedDates[0], "d.m.Y");
			//- 				document.getElementById("end-date").value = flatpickr.formatDate(selectedDates[1], "d.m.Y");
			//- 			}
			//- 		}
			//- 	});
				/*=====CUSTOM SELECT===== */
				if (window.NodeList && !NodeList.prototype.forEach) {
				NodeList.prototype.forEach = function (callback, thisArg) {
					thisArg = thisArg || window;
					for (var i = 0; i < this.length; i++) {
					callback.call(thisArg, this[i], i, this);
					}
				};
				}

				document.querySelectorAll('.dropdown').forEach(function (dropDownWrapper) {
					const dropDownBtn = dropDownWrapper.querySelector('.dropdown__button');
					const dropDownList = dropDownWrapper.querySelector('.dropdown__list');
					const dropDownListItems = dropDownList.querySelectorAll('.dropdown__list-item');
					const dropDownInput = dropDownWrapper.querySelector('.dropdown__input-hidden');

					// Клик по кнопке. Открыть/Закрыть select
					dropDownBtn.addEventListener('click', function (e) {
						dropDownList.classList.toggle('dropdown__list--visible');
						this.classList.toggle('dropdown__button--active');
					});
						

					// Выбор элемента списка. Запомнить выбранное значение. Закрыть дропдаун
					dropDownListItems.forEach(function (listItem) {
						listItem.addEventListener('click', function (e) {
						e.stopPropagation();
						dropDownBtn.innerText = this.innerText;
						dropDownBtn.focus();
						dropDownInput.value = this.dataset.value;
						dropDownList.classList.remove('dropdown__list--visible');
						dropDownBtn.classList.remove('dropdown__button--active');
						
						});
					});

					// Клик снаружи дропдауна. Закрыть дропдаун
					document.addEventListener('click', function (e) {
						if (e.target !== dropDownBtn) {
						dropDownBtn.classList.remove('dropdown__button--active');
						dropDownList.classList.remove('dropdown__list--visible');
						}
					});

					// Нажатие на Tab или Escape. Закрыть дропдаун
					document.addEventListener('keydown', function (e) {
						if (e.key === 'Tab' || e.key === 'Escape') {
						dropDownBtn.classList.remove('dropdown__button--active');
						dropDownList.classList.remove('dropdown__list--visible');
						}
					});
				});

				

			});
		
			