include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard
		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма
				.container-dashboard__content
					.form-item
						input(type="text" placeholder="Адрес *")
					pre.
						.form-item
							input(type="search" placeholder="Адрес *")
					hr
					.form-item
						textarea(placeholder="Примечание")
					pre.
						.form-item
							textarea(placeholder="Примечание")
					br
					.form-row
						.form-item
							input(type="tel" placeholder="Телефон *")
						.form-item
							input(type="email" placeholder="Email *")
					p.agree-txt Подписываясь на рассылку, вы соглашаетесь с #[a(href="#!") условиями оферты] и #[a(href="#!") политикой конфиденциальности]
					
					pre.
						.form-row
							.form-item
								input(type="tel" placeholder="Телефон *")
							.form-item
								input(type="email" placeholder="Email *")
						p.agree-txt Подписываясь на рассылку, вы соглашаетесь с #[a(href="#!") условиями оферты] и #[a(href="#!") политикой конфиденциальности]
					
					hr
					.form-item
						input.light-border(type="text")
						button.btn-send
							img(src="../img/send.svg", alt="send")
					pre.
						.form-item
							input.light-border(type="text")
							button.btn-send
								img(src="../img/send.svg", alt="send")
					hr
					+select("Речной песок", 'product_name')
					pre.
						+select("Речной песок", 'product_name')
				div(style="background: #1c1c1c; padding:30px")
					form.form.form-dark
						.form-item
							input(type="text" placeholder="Адрес *")
					pre.
						form.form.form-dark
							.form-item
								input(type="text" placeholder="Адрес *")
						
					.form-item.search-form-group
						input(type="search" placeholder="Поиск")
						button.btn.search-btn(type="submit")
							svg.svg-search
								use(href='../img/sprite.svg#svg-search')
					hr
					
		
		script.
			document.addEventListener("DOMContentLoaded", () => {
			/*=====CUSTOM SELECT===== */
				if (window.NodeList && !NodeList.prototype.forEach) {
				NodeList.prototype.forEach = function (callback, thisArg) {
					thisArg = thisArg || window;
					for (var i = 0; i < this.length; i++) {
					callback.call(thisArg, this[i], i, this);
					}
				};
				}

				document.querySelectorAll('.dropdown').forEach(function (dropDownWrapper) {
				const dropDownBtn = dropDownWrapper.querySelector('.dropdown__button');
				const dropDownList = dropDownWrapper.querySelector('.dropdown__list');
				const dropDownListItems = dropDownList.querySelectorAll('.dropdown__list-item');
				const dropDownInput = dropDownWrapper.querySelector('.dropdown__input-hidden');

				// Клик по кнопке. Открыть/Закрыть select
				dropDownBtn.addEventListener('click', function (e) {
					dropDownList.classList.toggle('dropdown__list--visible');
					this.classList.toggle('dropdown__button--active');
				});
					

				// Выбор элемента списка. Запомнить выбранное значение. Закрыть дропдаун
				dropDownListItems.forEach(function (listItem) {
					listItem.addEventListener('click', function (e) {
					e.stopPropagation();
					dropDownBtn.innerText = this.innerText;
					dropDownBtn.focus();
					dropDownInput.value = this.dataset.value;
					dropDownList.classList.remove('dropdown__list--visible');
					dropDownBtn.classList.remove('dropdown__button--active');
					
					});
				});

				// Клик снаружи дропдауна. Закрыть дропдаун
				document.addEventListener('click', function (e) {
					if (e.target !== dropDownBtn) {
					dropDownBtn.classList.remove('dropdown__button--active');
					dropDownList.classList.remove('dropdown__list--visible');
					}
				});

				// Нажатие на Tab или Escape. Закрыть дропдаун
				document.addEventListener('keydown', function (e) {
					if (e.key === 'Tab' || e.key === 'Escape') {
					dropDownBtn.classList.remove('dropdown__button--active');
					dropDownList.classList.remove('dropdown__list--visible');
					}
				});
				});

				/* =============== modal с атрибутом [data-modal] ===============*/ 
				const modalOpen = document.querySelectorAll('[data-btn]');
				const modalFrames = document.querySelectorAll('[data-modal]');
				if( modalFrames.length > 0){
				//  const modalFramesClose = document.querySelectorAll('[data-close]');

				for(let item of modalOpen){
				item.addEventListener('click', function(e){
					for(let item of  modalFrames){
					item.classList.remove('visible');
					bodyEl.classList.remove('lock');
					}
					e.preventDefault();
					const itemAttr = item.getAttribute('data-btn');

					for(let frame of modalFrames){
					const frameAttr =frame.getAttribute('data-modal');	
					if(frameAttr == itemAttr){
					frame.classList.add('visible');
					bodyEl.classList.add('lock');
					}
					}
				});
				}
				
				/*=============== закрыть модалки по клику вне ===============*/
				for(let frame of modalFrames){
					frame.addEventListener('click', function(e){
					if(e.target === e.currentTarget){
						this.classList.remove(`visible`);
						bodyEl.classList.remove('lock');
					}
					});
				}
				}
			});