.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			
			a(href="http://localhost:3000/").back-index На Главную
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="typography.html") Типографика
				
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Формы
				li
					a(href="breadcrumbs.html") Хлебные крошки
				li
					a(href="components.html") Компоненты
		.ui-panel-block__part
			h3 Карточки
			ul
				li
					a(href="assort-card.html") Карточка Категории
				li
					a(href="product-card.html") Карточка Продукта
				li
					a(href="post-card.html") Карточка Блога	
				li
					a(href="aside-card.html") Детальная карточка	
		.ui-panel-block__part
			h3 Блоки
			ul
				li
					a(href="text-image.html") Текст + картинка
				li
					a(href="product-slider.html") Слайдер товаров
				li
					a(href="swiper-tabs.html") Слайдер в табах
				li
					a(href="tabs.html") Табы
				
		//- .ui-panel-block__part
		//- 	h3 Секции
		//- 	ul
				
		//- 		li
		//- 			
						a(href="text-image.html") Слайдер товаров
				
				
		
		.ui-panel-block__part
	
			h3 Секции
			ul
				li
					a(href="promo.html") PROMO секции