@use "../base/var" as *;
.cm-wrapper{
	position: fixed;
	background-color: rgba(0,0,0, .5);
	inset:0;
	top:74px;
	z-index: 10;
	overflow: hidden;
	height: 0;
	transition: .3s linear; 
	&.active{
		height: calc(100vh - 74px);
		@media (max-width: 1700px) {
			height: calc(100vh - 64px);
		}	
	}
	.close-menu-part, .close-cat-menu{display: none;}
	
	&.active{display: block;}
	.cm-content{
		background-color: #fff;
		padding-top: 40px;
		
		display: flex;
		flex-direction: column;
		position: relative;
	}
	.cm-container{
		width: min(1610px, 100%);
		padding-inline:30px;
		margin-inline: auto;
		
		@media (max-width: 1279px) {
			padding-inline:20px;
		}
		
	}
	.cm-nav{
		flex-grow: 1;
		display: flex;
		column-gap: 60px;
		column-gap:30px;
		height: 370px;
		.cm-level{position: relative;
		}
		@media (max-width: 1199px) {
			display: block;
		}
	}
	.cm-level-1{
		width: 363px;flex-shrink: 0;
		@media (max-width: 1439px) {
			width: 330px;
		}
	}
	
	.cm-level-2{
		width: 408px;flex-shrink: 0;
		@media (max-width: 1439px) {
			width: 350px;
		}
	}
	.cm-level-3{flex-grow: 1; max-width: 560px;}
	.cm-image-group{
		position: absolute;
		right: 0;
		top: 30%;
		width: 600px;
		transform: translateY(-50%);
		z-index: 3;
		
		height: 300px;
		li{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -2;
			background-color: #fff;
			transform: translateX(115%);
			transition: .6s; 
		}
		li.active{z-index: 1; transform: translateX(30%);}
		@media (max-width: 1364px) {
			display: none;
		  }	
		
	}
	.cm-sublist, .cm-sub-sublist{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-left: 1px solid #eaeaea;
	    display: none;
		&.active{display: block;}
		a{
			font-family: $ff;
			font-weight: 500;
			font-size: 20px;
			letter-spacing: -0.02em;
			color: $text;
			@media (max-width: 1364px) {
				font-size: 18px;
			  }	
		}
	}
	.has-subdrop[data-sub-subdrop]{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			top: 50%;
			transform: translateY(-50%);
			bottom: 0;
			right: 0;
			width: 40px;
			z-index: 2;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.75 10L7.49996 16.25L6.61621 15.3662L11.9825 10L6.61621 4.63375L7.49996 3.75L13.75 10Z' fill='%238E8E8E'/%3e%3cmask id='mask0_311_6200' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='6' y='3' width='8' height='14'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.75 10L7.49996 16.25L6.61621 15.3662L11.9825 10L6.61621 4.63375L7.49996 3.75L13.75 10Z' fill='white'/%3e%3c/mask%3e%3cg mask='url(%23mask0_311_6200)'%3e%3c/g%3e%3c/svg%3e");
			background-size: 20px 20px;
			cursor:pointer;
			transition: .3s; 
		}
	}
	.cm-sublist__item.active{
		&>a{color: $accent;}
		
		&:after{
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.75 10L7.49996 16.25L6.61621 15.3662L11.9825 10L6.61621 4.63375L7.49996 3.75L13.75 10Z' fill='%23FD8C09'/%3e%3cmask id='mask0_311_6200' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='6' y='3' width='8' height='14'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.75 10L7.49996 16.25L6.61621 15.3662L11.9825 10L6.61621 4.63375L7.49996 3.75L13.75 10Z' fill='white'/%3e%3c/mask%3e%3cg mask='url(%23mask0_311_6200)'%3e%3c/g%3e%3c/svg%3e");
		}

	}
	
	.cm-sub-sublist{
		column-count: 2;
		@media (max-width: 767px) {
			column-count: 1;
			&.active{
				overflow: hidden;
				overflow-y: auto;
				scrollbar-width: none;
				&::-webkit-scrollbar{display: none;}
			}
		}
	}
	.cm-list{
		display: flex;
		flex-direction: column;
		// row-gap:54px;
	}
	.cm-list__item{
		display: flex;
		column-gap:10px;
		align-items: center;
		a{
			font-family: $fs;
			font-weight: 400;
            font-size: 23px;
			transition: .3s; 
			@media (max-width: 1439px) {
				font-size: 20px;
			}
		}
		img{
			flex-shrink: 0;
			width: 84px;
			aspect-ratio: 42 /27;
			@media (max-width: 1364px) {
				width: 70px;
			}
			@media (max-width: 767px) {
				width: 50px;
			}
		}
		&.active, &:hover{
			a{color: $accent!important;}
			
		}
	}
	.cm-list__item{padding: 12px 30px 12px 0;}
	.cm-sub-sublist__item,.cm-sublist__item{padding: 12px 30px; transition: .3s; }
	.cm-sub-sublist__item:hover a{color: $accent;}
	.cm-sub-sublist__item{
		@media (max-width: 1364px) {
			font-size: 17px;
			padding-right:10px;
		}
	}

	.cm-footer{
		flex-shrink: 0;
		padding-block: 40px;
		border-top: 1px solid #EAEAEA;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@media (max-width: 1199px) {
			padding-top: 20px;
		}
	}
	@media (max-width: 1199px) {
		display: flex;
		justify-content: flex-end;
		transform: translateX(110%);
		transition: .3s;
		height: unset;
		background-color: rgba(255,255,255, .7);
		&.active{display: flex;}
		.close-cat-menu,.close-menu-part{
			position: absolute;
			top: 14px;
			left: 24px;
			opacity: .5;
			z-index: 2;
			display: flex;
			align-items: center;
			column-gap:6px;
			.arrow-left {width: 16px;}
			&:hover{opacity: 1;}
		}
		.cm-container{
			padding-inline:15px;
			
		}
		.cm-content{
			min-height: 100%;
			padding-top: 0;
			width: 100%;
			max-width: 550px;
			background-color: #222;
			left: auto;
			.close-menu-part{
				color: white;
				.arrow-left{
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='13' viewBox='0 0 48 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 6.72314L10 12.4966V0.949642L0 6.72314ZM9 7.72314L48 7.72314V5.72314L9 5.72314V7.72314Z' fill='%23ffffff' /%3e%3c/svg%3e");	
				}
			}
			.cm-list__link, .cm-sublist__link, .cm-sub-sublist__item a{
				color: white;
				&:hover{
					color: $accent;
				}
			}
		}
		&.active{transform: translateX(0);}
		.cm-nav .cm-level-2, .cm-nav .cm-level-3{
			transform: translateX(110%);
			transition: .3s;
			position: absolute;
			inset:0;
			bottom:110px;
			display: block; background-color: #fff; z-index:2;
			width: 100%;
			max-width: 100%;
			padding-top: 40px;
		}
		.close-cat-menu{
			font-size: 30px;
			left: auto;
			right:14px;
			top:7px;
		}
		.cm-level-1{
			width: 100%;
			padding-top: 40px;
		}
		.cm-level-3{z-index:3;}
		.cm-level-2.active, .cm-level-3.active{
			background-color: #222;
			transform: translateX(0);
		}
		.cm-sublist, .cm-sub-sublist{
			padding-top: 40px;
		}
	}
}
@media (max-width: 1199px) {
	.cm-footer  .contacts-group__time, 
	.cm-footer .contacts-group__city{
		display: flex;
		padding-left: 16px;
		padding-right: 16px;
		color:white;
		.txt-24{font-size: 16px; color:white;}
		.txt-24 +*{font-size: 12px; color:white;}
	}
	.cm-footer{
		flex-wrap: wrap;
		row-gap:24px;
	}
	.cm-footer .btn{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 16px;
		color: white;
		border-color: #fff;
	}
	.cm-wrapper .cm-sublist, .cm-wrapper .cm-sub-sublist{
		border-left:0;
	}
}
@media(min-width: 1200px){
	.cm-level-2{
	 overflow: hidden;
	 overflow-y: auto;
	 scrollbar-width: thin;
	 scrollbar-color: #EAEAEA white;
	 &::-webkit-scrollbar{
		width: 3px;
		height: 20px;
		&-track{background-color: #fff;}
		&-thumb{background-color: #EAEAEA;}

	 }
 }
}

