@use "../base/var" as *;
.cm-wrapper{
	position: fixed;
	background-color: rgba(0,0,0, .5);
	inset:0;
	top:74px;
	z-index: 2;
	background-color: #f0f0f0;
	
	display: none;
	.close-menu-part{
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 2;
	}
	&.active{display: block;}
	.cm-content{
		background-color: #fff;
		padding-top: 40px;
		min-height: 223px;
		display: flex;
		flex-direction: column;
	}
	.cm-container{
		width: min(1610px, 100%);
		padding-inline:30px;
		margin-inline: auto;
		
		@media (max-width: 1279px) {
			padding-inline:20px;
		}
	}
	.cm-nav{
		flex-grow: 1;
		display: flex;
		column-gap:30px;
		.scroll-wrapper{flex-grow: 1; border:5px solid red; position: relative;
		}
		@media (max-width: 1199px) {
			display: block;
		}
	}

	.cm-sublist, .cm-sub-sublist{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-left: 1px solid red;
	    display: none;
		&.active{display: block;}
		
	}
	
	.cm-sub-sublist{
		column-count: 2;
	}
	.cm-sublist__item,.cm-list__item{padding: 15px 30px;}
	
	.cm-footer{
		flex-shrink: 0;
		padding-block: 40px;
	}
	@media (max-width: 1199px) {
	.cm-level-2, .cm-level-3{display: none;}
	.cm-level-2.active, .cm-level-3.active{
		position: absolute;
		inset:0;
		display: block; background-color: #fff; z-index:2}
	}
}
