@use "../base/var" as *;
.form-section{
	position: relative;
	background-image: url('../img/form-bg.webp');
	background-repeat: no-repeat;
	background-position: right top;
	overflow: hidden;
	padding-top: 80px;
	padding-bottom: 80px;
	&:after{
		content:'';
		position: absolute;
		inset:0;
		background-color: #1b1b1b;
		background: linear-gradient(230deg, rgba(0, 0, 0, 0) 0%, #1b1b1b 100%);
	}
	
	&-content{
		position: relative;
		z-index: 2;
		
	}
	form{
		max-width: 680px;
		.form-item{
			margin-bottom: 15px;
		}
		.form-btn{margin-top: 40px;}
	}
	.logo-image{
		top: auto;
		bottom: 80px;
		left:53%;
	}
}
.contacts-form.form-dark{
	.btn--white{
		@media (max-width: 767px) {
		background-color: transparent;
		border-color: currentColor;
		color:white;
		&:hover{color:$accent;}
		
		}
	}
}