@use "../base/var" as *;
.footer{
	background-color: #fff;
	padding-top: 45px;
	font-size: 15px;
	color: #1c1c1c;
	border-top:1px solid currentColor;
	&-content{
		display: flex;
		column-gap:144px;
		padding-bottom: 34px;
		@media (max-width: 1439px) {
			column-gap:110px;
		}
		@media (max-width: 1364px) {
			column-gap:80px;
		}
		@media (max-width: 1279px) {
			column-gap:60px;
		}
	}
	&-form-wrapper, &-text{
		width: 402px;
		flex-shrink: 0;
	}
	&-contacts{
		margin-top: 25px;
		display: flex;
		flex-direction: column;
		row-gap:13px;
	}
	&-nav{
		flex-grow:1;
		display: flex;
		column-gap:80px;
		padding-top: 55px;	
	}
	&-nav__list{
		column-count: 2;
		a{
			display: block;
			width: fit-content;
			font-weight: 300;
			font-weight: 300;
			line-height: 1.5;
			transition: .3s;
			padding-top: 3px;
			padding-bottom: 3px;
			&:hover{color: $accent;}
		}
	}
	&-form-wrapper{width: 300px;}
	.footer-form-wrapper .title-22 {
		line-height: 2.73;
	}
	

	&-bottom{
		padding-top: 16px;
		padding-bottom: 16px;
		justify-content: space-between;
		border-top: 1px solid #1c1c1c;
	}
	.copyright, .politic-link, .brand-name{
		font-size: 12px;
        line-height: 1.80;
		color: $text;
	}
	.politic-link:hover{
		color: $accent;
	}
}
@media (max-width: 1699px) {
	.contacts-grid .contacts-group > *{
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (max-width: 1199px){
	.promo .promo-txt p{display: none;}
	.promo .promo-txt p:first-of-type{display: block; font-size: 16px;}
	.footer-content{
		flex-wrap: wrap;
	}
	
	.footer-form{width: 100%; max-width:400px;}
	.footer-contacts{margin-top: 20px;}
	.footer{padding-top: 20px;}
	.contacts .contacts-group{
		padding-top: 40px;
	}
	.contacts-grid .contacts-group > *{
		padding-left: 30px;
		padding-right: 30px;
	}
	.blog-card{height: 280px;}
	.blog-card__title{font-size: 16px;}
}
@media (max-width: 1099px) {
	.contacts-group__time, 
	.contacts-group__city,
	.footer-text p{display: none;}
}
@media (max-width: 1023px) {
	.product-assort .tabs-block .tabs-body.active{
		&>*{grid-column: span 4;}
	}
	.contacts-grid{
		flex-direction: column;
		align-items: flex-start;
	}
	
	.footer-content{
		flex-wrap: wrap;
	}
	
	.footer-content,
	.footer-form{width: 100%; max-width:400px;}
	.footer-contacts{margin-top: 20px;}
	.footer{padding-top: 20px;}
	.contacts .contacts-group{
		padding-top: 40px;
	}
	
	.contacts-group > *:nth-child(3){padding-left: 0;}
	.blog .tabs-body.active >*{grid-column: span 6}
	
	.assort-card{
		
		font-size: 18px;
		margin-left: auto;
		margin-right: auto;
		
		&__img{height: auto;}
	}
	.product-card{
		width: 100%;
		
	}
}
.footer-form-wrapper .title-22 {
	font-weight: 600;
	font-size: 22px;
}
@media (max-width: 767px) {
	footer.footer{display: none;}
}
.footer-mobile{
	display: none;
	.footer-mobile__logo{
		background-color: #fff;
		display: flex;
		justify-content: center;
		.logo{
			background-color: $dark;
			display: inline-flex;
			padding: 14px;
			padding-bottom: 0;
			border-radius: 10px 10px 0 0;
			position: relative;
			svg{
				width: 100px;
				height: 24px;
				position: relative;
				z-index: 2;
				color: white;
			}
			&:after{
				content: "";
				width: 0;
				height: 0;
				border: 31px solid #1c1c1c;
				border-left: 17px solid transparent;
				border-right: 26px solid transparent;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-78deg);
				border-bottom: 0;
				position: absolute;
				left: -11px;
				top: 18px;
				z-index: 1;
				
			}
			&:before{
				content: "";
				width: 0;
				height: 0;
				border: 31px solid #1c1c1c;
				border-left: 17px solid transparent;
				border-right: 26px solid transparent;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(78deg);
				border-bottom: 0;
				position: absolute;
				right: -11px;
				top: 18px;
				z-index: 1;
				
			}
		}
	}
	&__content{
		background-color: $dark;
		border-radius: 10px 10px 0 0;
		margin-top: -32px;
	}
	.container>*+*{margin-top: 20px;}
	
	.footer-form{
		width: 100%;
		max-width: 100%;
		.txt-22, .agree-txt, input::placeholder, input{color: white;}
		.agree-txt{margin-top: 10px;}
	}
	.footer-form-wrapper{width: 100%;}
	.footer-form-wrapper .title-22{color: white; margin-bottom: 10px; font-family: $fs; font-weight: 400;}
	&__nav{
		color: white;font-size: 15px;
		padding-top: 35px;
		li{
			
			p{
				padding-top: 16px;
			    padding-bottom: 16px;
				
			}
		}
		*.txt-12{
			color: white;
			display: block;
			font-size: 12px;
			letter-spacing: -0.03em;
			text-transform: uppercase;
			padding-top: 16px;
			padding-bottom: 16px;
			
			border-bottom: 1px solid #565656;
		}
		a:hover{color: $accent;}
	}
	.footer-contacts{
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: relative;
		top:35px;
		.flex-link{
			font-size: 16px;
			line-height: 125%;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: white;
			svg{
				color: white;
			}
		}
	}
	.footer-copyright{
		color: white;
		padding-top: 10px;
		border-top: 1px solid #565656;
		.flex{
			padding-top: 20px;
			padding-bottom: 20px;
			color: #dadada;
			justify-content: space-between;
			column-gap: 10px;
		}
		a:hover{opacity: .7;}
	}
	@media (max-width: 767px) {
	display: block;
	}
}