@use "../base/var" as *;
.footer{
	background-color: #fff;
	padding-top: 45px;
	font-size: 15px;
	color: #1c1c1c;
	border-top:1px solid currentColor;
	&-content{
		display: flex;
		column-gap:144px;
		padding-bottom: 34px;
		@media (max-width: 1439px) {
			column-gap:110px;
		}
		@media (max-width: 1364px) {
			column-gap:80px;
		}
		@media (max-width: 1279px) {
			column-gap:60px;
		}
	}
	&-form, &-text{
		width: 402px;
		flex-shrink: 0;
	}
	&-contacts{
		margin-top: 25px;
		display: flex;
		flex-direction: column;
		row-gap:13px;
	}
	&-nav{
		flex-grow:1;
		display: flex;
		column-gap:80px;
		padding-top: 55px;	
	}
	&-nav__list{
		column-count: 2;
		a{
			display: block;
			width: fit-content;
			font-weight: 300;
			font-weight: 300;
			line-height: 1.5;
			transition: .3s;
			padding-top: 3px;
			padding-bottom: 3px;
			&:hover{color: $accent;}
		}
	}
	&-form{width: 300px;}
	&-logo, .title-22 {
		font-weight: 600;
		font-size: 22px;
		line-height: 2.73;
		text-transform:capitalize;
		
	}
	&-{
	
		font-size: 15px;
		color: #1c1c1c;
	}

	&-bottom{
		padding-top: 16px;
		padding-bottom: 16px;
		justify-content: space-between;
		border-top: 1px solid #1c1c1c;
	}
	.copyright, .politic-link, .brand-name{
		font-size: 12px;
        line-height: 1.80;
		color: $text;
	}
	.politic-link:hover{
		color: $accent;
	}
}
@media (max-width: 1699px) {
	.contacts-grid .contacts-group > *{
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (max-width: 1199px){
	.promo .promo-txt p{display: none;}
	.promo .promo-txt p:first-of-type{display: block; font-size: 16px;}
	.footer-content{
		flex-wrap: wrap;
	}
	
	.footer-form{width: 100%; max-width:400px;}
	.footer-contacts{margin-top: 20px;}
	.footer{padding-top: 20px;}
	.contacts .contacts-group{
		padding-top: 40px;
	}
	.contacts-grid .contacts-group > *{
		padding-left: 30px;
		padding-right: 30px;
	}
	.blog-card{height: 280px;}
	.blog-card__title{font-size: 16px;}
}
@media (max-width: 1099px) {
	.contacts-group__time, 
	.contacts-group__city,
	.footer-text p{display: none;}
}
@media (max-width: 1023px) {
	.product-assort .tabs-block .tabs-body.active{
		&>*{grid-column: span 4;}
	}
	.contacts-grid{
		flex-direction: column;
		align-items: flex-start;
	}
	// .contacts-group__time, 
	// .contacts-group__city,
	// .footer-text p{display: none;}
	.footer-content{
		flex-wrap: wrap;
	}
	
	.footer-content,
	.footer-form{width: 100%; max-width:400px;}
	.footer-contacts{margin-top: 20px;}
	.footer{padding-top: 20px;}
	.contacts .contacts-group{
		padding-top: 40px;
	}
	
	.contacts-group > *:nth-child(3){padding-left: 0;}
	.blog .tabs-body.active >*{grid-column: span 6}
	.geo{aspect-ratio: unset;}
	.geo .geo-map{display: none;}
	.geo{height: auto;}
	.geo .geo-content{
		padding-left: 0;
		padding-top: 60px;
		width: 100%;
	}
	.assort-card{
		
		font-size: 18px;
		margin-left: auto;
		margin-right: auto;
		
		&__img{height: auto;}
	}
	.product-card{
		width: 100%;
		
	}
}