
.fotorama{
	display: flex;
	column-gap: 20px;;
	height: 470px;
	.swiper-slide {
				
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}


	.mySwiperFotorama {
		height: 100%;
		background-color: #EDEDED;
		border-radius: 10px;
		width: calc(100% - 193px - 20px);
		.swiper-slide img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;}
		@media (max-width: 1279px) {
			width: calc(100% - 80px - 20px);
		}
	}

	.mySwiperThumb {
		height: 100%;
		width:193px;
		box-sizing: border-box;
		@media (max-width: 1279px) {
			width:80px;
		}
	}

	.mySwiperThumb .swiper-slide {
		height: 130px!important;
		img{
			border-radius: 10px;
			}
		@media (max-width: 1279px) {
			height: 80px!important;
		}
	}

	.mySwiperThumb .swiper-slide-thumb-active {
		opacity: 1;
	}

	
	@media (max-width: 1439px) {
		height:370px;
		.mySwiperThumb .swiper-slide {
			height: 102px!important;
			
		}
	}
}
.fotorama-wrapper{
	position: relative;
	padding-block:10px;
}
.mySwiperThumb-next, .mySwiperThumb-prev{
	position: absolute;
	left: 90px;
	z-index: 2;
	&[aria-disabled="false"]{opacity: 0;}
}
.mySwiperThumb-next{
	top: 0;
	transform: translateX(-50%) rotate(90deg);
}
.mySwiperThumb-prev{
	bottom: 0;
	transform: translateX(-50%) rotate(90deg);
}										