@use "../base/var" as *;
.geo{
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	.geo-map{
		margin-top: -100px;
		padding-left: 10px;
		@media (max-width: 1919px) {
			margin-top:-6vw;
		}
	}
	.container{
		position: relative;
	}
}
.geo + .blog{
	margin-top: -150px; 
	position: relative;
     z-index: 2;
	 @media (max-width: 767px) {
		margin-top: 0; 
	 }

}
.geo-content{
	width: 50%;
	margin-left: auto;
	row-gap:35px;
	padding-left: 75px;
	padding-right: 100px;
	position: relative;
	z-index: 2;
	padding-left: 60px;
	padding-top: 140px;
	// padding-bottom: 100px;
	background-color: #fff;
	position: absolute;
	top: 3vw;
	bottom:0;
	right: 0;
	.h2{margin-bottom: 0;}
	@media (max-width: 1699px) {
		row-gap:20px;
		// padding-left: 0;
	    padding-right: 40px;
		p{
			font-size: 15px;
		}
	}
}