@use "../base/var" as *;
.geo{
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	.geo-map{
		margin-top: -100px;
		padding-left: 10px;
		
		@media (max-width: 1919px) {
			margin-top:-6vw;
		}
		@media (max-width: 1023px) {
			margin-top:-40px;
		}
		@media (max-width: 767px) {
			margin-top:20px;
		}
		@media (max-width: 767px) {
			width:calc(50% + 50vw);
			img{
				min-width: 700px;
				max-width: 700px;
				transform: translate(-5%, -10%);
			}
		}
	}
	.container{
		position: relative;
	}
	@media (max-width: 1023px) {
		padding-top: 25px;
	}
	@media (max-width: 767px) {
		.flex-sm{
			// width: 245px;
			padding-right: 20px;
			position: relative;
			z-index: 2;
			transform: translateY(-120px);
			.btn{width: 245px; 
				font-size: 20px;
			}
			
		}
	}
	@media (max-width: 574px) {
		.flex-sm {justify-content: center;}
	}
}
.geo + .blog{
	margin-top: -150px; 
	position: relative;
     z-index: 2;
	 @media (max-width: 1023px) {
		margin-top: 0; 
	 }
	 @media (max-width: 767px) {
	 padding-top: 0;
	 margin-top: -10px;
	 }

}
.geo-content{
	width: 50%;
	margin-left: auto;
	row-gap:35px;
	padding-left: 75px;
	padding-right: 100px;
	position: relative;
	z-index: 2;
	padding-left: 60px;
	padding-top: 140px;
	// padding-bottom: 100px;
	background-color: #fff;
	position: absolute;
	top: 3vw;
	bottom:0;
	right: 0;
	.h2{margin-bottom: 0;}
	@media (max-width: 1699px) {
		row-gap:20px;
		padding-top: 90px;
	    padding-right: 40px;
		p{
			font-size: 15px;
		}
	}
	@media (max-width: 1023px) {
		top: 0;
		bottom: auto;
		right: auto;
		position: relative;
		width: 100%;
		border-radius: 10px;
		box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.2);
         padding-left: 28px;
		 padding-right: 28px;
		 padding-top: 22px;
		 padding-bottom: 40px;
		 .hide-mobile{display: none;}
	}
}
@media (max-width: 1023px) {
	
	.geo .container{
		display: flex;
		flex-direction: column-reverse;
	}
}