@use "base/var" as *;

.header{
	height: 74px;
	background-color: $dark;
	color: white;
	position: relative;
	z-index: 5;
	&>.container{
		position: relative;	
	    z-index: 2;
	    background-color: $dark;
		padding-block: 15px;
	}
	&-content{width: 100%;}
	.logo{
		display: flex;
		align-items: center;
		margin-right: auto;
		@media (max-width: 1439px) {
			&-group{
				width: 100px;
			}
		}
		
		
	}
	.search-form-open, .cart-button, .callback-btn{
		flex-shrink: 0;
		
	}
	.callback-btn{
		margin-left: 24px;
		padding-left: 20px;
		padding-right: 20px;
		height: 39px;
		line-height: 37px;
		font-weight: 400;
		font-size: 18px;
		@media (max-width: 1439px) {
			padding-left: 16px;
			padding-right: 16px;
			font-size: 16px;
		}
	}
	.search-form-open, 
	.cart-button{color: white;}
	.cart-button{
		height: 40px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		svg{color: inherit;}
	}
}
.search-form-open{
	padding: 6px 20px;
	
}
.search-form-open, .header-nav__link, .cart-button{
	transition: .3s; 
	&:hover{
		color: $accent;
	}
}
.header-nav{
	flex-shrink: 0;
	padding-left: 12px;
	padding-right: 12px;
	
	@media (max-width: 1279px) {
		padding-left: 0;
		padding-right: 0;
	}
	@media (max-width: 1199px) {
	    position: fixed;
		top: 74px;
		right: 0;
		bottom: 0;
		width: 100%;
		background-color: $dark;
		z-index: 10;
		display: none;
	}
}
.header-nav__list{
	display: flex;
	align-items: center;
	
	a{
		font-size: 16px;
		line-height: 1.37;
		letter-spacing: -0.01em;
		padding: 6px 12px;
		color: white;
		@media (max-width: 1439px) {
			padding: 6px 8px
		}
	}
	@media (max-width: 1199px){
		flex-direction: column;
	}
}