@use "base/var" as *;

.header{
	height: 74px;
	padding-block: 15px;
	background-color: $dark;
	color: white;
	&-content{width: 100%;}
	.logo{
		display: flex;
		align-items: center;
		margin-right: auto;
		
	}
	.search-form-open, .cart-button, .callback-btn{
		flex-shrink: 0;
		
	}
	.callback-btn{
		margin-left: 24px;
		padding-left: 20px;
		padding-right: 20px;
		height: 39px;
		line-height: 37px;
		font-weight: 400;
	}
	.search-form-open, 
	.cart-button{color: white;}
	.cart-button{
		height: 40px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		svg{color: inherit;}
	}
}
.search-form-open{
	padding: 12px 20px;
	
}
.search-form-open, .header-nav__link, .cart-button{
	transition: .3s; 
	&:hover{
		color: $accent;
	}
}
.header-nav{
	flex-shrink: 0;
	padding-left: 12px;
	padding-right: 12px;
	.header-nav__list{
		display: flex;
		align-items: center;
	}
	
	a{
		font-size: 16px;
		line-height: 1.37;
		letter-spacing: -0.01em;
		padding: 6px 12px;
		color: white;
	}
}