@use "../base/var" as *;
.our-service{
	.swiper-pagination-bullets  {
		display: none;
	}
	@media (max-width: 767px) {
		.visible-sm{
			display: flex!important;
			justify-content: center;
			margin-top: 40px;
		}
		.swiper-pagination-bullets{display: flex;}
		.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
			background: #fff;
		}
	}
	
}
.serv-card{
	background-color: $dark;
	transition: .3s; 
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	color: white;
	&>*{width: 100%;}
	&__img{
		width: 100%;
		border-radius: 10px;
		overflow: hidden;
		aspect-ratio:3 / 2;
		height: 400px;
		@media (max-width: 1649px) {
		   height: calc((250 / 12)*1vw);
		}
		@media (max-width: 767px) {
		height: 231px;
		}
	}
	&__title{
		font-weight: 400;
		font-size: 32px;
		line-height: 1.19;
		font-family: $fs;
		color: white;
		@media (max-width: 1649px) {
			font-size: 26px;
		 }
		 @media (max-width: 1439px) {
			font-size: 22px;
		 }
		 @media (max-width: 767px) {
			font-size: 24px;
		 }
		
	}
	p{flex-grow: 1; font-size: 20px;
		@media (max-width: 1649px) {
			font-size: 16px;
		 }
		@media (max-width: 1439px) {
			font-size: 14px;
		 }
		 @media (max-width: 767px) {
			font-size: 16px;
		 }
	}
	&__footer{
		display: flex;
		column-gap:20px;
		.btn-outline{
			padding-left: 30px;
			padding-right: 30px;
			@media (max-width: 1439px) {
				padding-left: 10px;
			   padding-right: 10px;
			   font-size: 15px;;
			 }
		}
		@media (max-width: 767px) {
		flex-direction: column;
		row-gap: 10px;
		&>*{width: 100%;}
		}
	}
	
	&:hover { color: white;}
	&:hover {
		.serv-card__title{color: $accent;}
	}
	@media (max-width: 767px) {
	row-gap:10px;
	}
}
.service-cards{
	width: calc(50% + 50vw - 10px);
	padding-top: 20px;
	padding-bottom: 30px;
	@media (max-width: 767px) {
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	}
}
.service-cards .swiper-slide{
	width: 600px!important;
	@media (max-width: 1649px) {
		width: 500px!important;
	 }
	 @media (max-width: 767px) {
	   width: 372px!important;
	 }
	
}