
.page-order-form{
	padding:50px;
	box-shadow: 0 0 22px 0 rgba(154, 152, 152, 0.1);
    background: white;
	.order-form{max-width: 772px; margin-inline:auto;}
	.btn-primary{width: max-content; margin-inline:auto; margin-top: 30px;}
}