@use "../base/var" as *;
.promo{
	position: relative;
	height: 800px;
	padding-top: 20px;
	padding-bottom: 100px;
	
	&.promo--inner{
		height: auto; padding-bottom:0px;
		.promo-content{width: 100%; max-width:100%;}
	}
	.container{
		position: relative;
		z-index: 2;
		
	}
	&-bg-image{
		position: absolute;
		inset:0;
		img{
			object-position: bottom;
			
		}
	}
	.promo-top{
		margin-bottom: 80px;
		
		
	}
	@media (max-width: 1439px) {
		max-height: 600px;
		height: auto;
		padding-bottom: 40px;
		.promo-top{margin-bottom: 40px;}
		.promo-txt, .promo-content .h1{margin-bottom: 30px; }
	}
}
.promo-content{
	.breadcrumbs{margin-bottom: 15px;}
	.txt-20 {margin-bottom: 20px;}
	.back-link .svg-arrow-left{width: 28px;}
}
.promo-txt {
	max-width: 525px;
	width: 50%;
}
.promo-txt p{
	font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: #2b2a29;
	margin-bottom: 10px;
}
.promo-txt, .promo-content .h1{margin-bottom: 40px;}
.promo-top{
	justify-content: space-between;
	
}

.promo{
	.h1, h2,h3, h4, p, ul, span {color: $text;}
}
.promo.promo-dark{
	.breadcrumbs a, .h1, h2,h3, h4, p, ul, span{color: white;}
	.city-selection__btn button, .city-selection p{color: #f2f2f2;}
	
}
.promo.promo-slim{
	max-height: 511px;
	height: auto;
	
}
.promo.promo--about{
	height: 780px;
	.promo-content{
		max-width: 100%;
		width: 100%;
		text-align: center;
		.promo-txt{
			max-width: 690px;
			margin-left: auto;
			margin-right: auto;
			
			.txt-bold{
				margin-top: 40px;
				max-width: 450px;
				margin-inline: auto
			}
		}
		.h1{
			display: flex;
			justify-content: center;
			margin-bottom: 110px;
			font-size: 0;
			text-align: center;
			img{width: 1550px;}
		}
		@media (max-width: 1919px) {
			.h1{margin-bottom: 5vw;}
			.h1 img{width: 60vw; margin-inline: auto;}
		}
	}
	@media (max-width: 1919px) {
		height: 40vw;
	}
}
.promo.promo--gradient,
.promo-dark.promo--gradient{
	position: relative;
	
	&:after{
		content:'';
		position: absolute;
		inset:0;
		background: linear-gradient(337deg, rgba(0, 0, 0, 0) 0%, rgba(20, 17, 14, 0.55) 38.85%, #241f1a 100%);
	}
	
}