@use "../base/var" as *;
.pros +.sales{margin-top: 0;}
.pros-item{
	height: 207px;
	padding-left: 26px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
	font-family: $fs;
	color: white;
	p{max-width: 312px; width: 100%;}
	border-left: 1px solid white;
	&:first-child{border-left:0;}
	@media (max-width: 1439px) {
		height: 150px;
		row-gap:40px;
		font-size: 18px;
	}
	@media (max-width: 1199px) {
		font-size: 14px;
	}
	@media (max-width: 1023px) {
		font-size: 13px;
	}
}