@use "../base/var" as *;
.product-details{
	padding-top: 40px;
	@media (max-width: 767px) {
	padding-top: 16px;
	}
}
.documents-wrapper{
	@media (max-width: 767px) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap:12px;
		.document-item img{width: 100%; height: auto;}
	}
}
@media (max-width: 767px) {
    .specifications__list, .specifications__desk, .specifications__list-block {
        row-gap: 20px;
    }
}