@use "../base/var" as *;
.promo.promo--animate{
	height: auto;
	padding-top: 0;
	.container{z-index: 4;}
	.city-selection{
		position: absolute;
		right: 0;
		top: 20px;
		z-index: 5;
		p, p span, .city-selection__btn button {color:white;}
	}
	@media (max-width: 1439px) {
		.city-selection{top: 10px;}
	}
}
.promo-slider{
	display: flex;
	position: relative;
	width: 100%;
	height: calc(100vh - 100px);
	min-height: 960px;
	.h1{
		position: relative;
		z-index: 3;
		color: white;
		font-weight: 400;
	}
	.promo-slide{
		display: flex;
		position: relative;
	}
	
	.promo-slide-content {
		position: absolute;
		inset: 0;
		opacity: 0;
		z-index: 1;
		transition: opacity 0.5s ease;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 15vh;
		padding-bottom: 22vh;
		
	  }
	  
	  .promo-slide-content.active {
		z-index: 3; /* Поверх всех */
		opacity: 1; /* Полностью видим */
	  }
	  
	  .promo-slide-content.fading-out {
		z-index: 2; /* Под новым контентом */
		opacity: 0; /* Исчезает */
	  }
	  .promo-slide__img {
		width: 100%;
		height: 100%;
		position: absolute;
		inset:0;
		&:after{
			content:'';
			position: absolute;
			inset: 0;
			background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
			z-index: 2;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.promo-slide__info{
		position: relative;
		z-index: 3;
		width: 95%;
		max-width: 580px;
		color: #f5f5f5;
		height: 100%;
		display: flex;
		flex-direction: column;
		.txt-24, .h1{
			color: #f5f5f5;
		}
		.txt-24{line-height: 1;}
		.h1{
			margin-bottom: 0.4375em;
		}
	}
	.promo-slide__num{
		font-size: 40px;
		margin-bottom: auto;
	}
	.promo-slide__buttons{
		column-gap:20px;
		margin-top: 88px;
		margin-bottom: 52px;
	}
	.promo-slide__link{
		min-height: 64px;
		max-width: 250px;
		line-height: 1.12;
		a{
			font-weight: 600;
		font-size: 16px;
		line-height: 1.12;
		color: rgba(255, 255, 255, 0.75);
		transition: .3s; 
			&:hover{color: $accent;}
		}
	}
	
	.promo-slide--first{
		clip-path: polygon(0 0, 100% 0, 77% 100%, 0% 100%);
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 50%;
		background:#1c1c1c;
		.promo-slide-content{
			padding-left: calc((100vw - 1550px) /2);
		}
		.promo-slide-content.active .promo-slide__progress span {
			width: 100%;
		}
	}
	.promo-slide--two{
		position: absolute;
		inset:0;
		left: 38%;
		z-index: 1;
		background:#1c1c1c;
		display: flex;
		justify-content: center;
		.promo-slide__info{max-width: 39%;}
		.promo-slide-content.active{
			padding-left: 10%;
			
			.promo-slide__num{padding-left: 27%;}
		}
	}
	.promo-slide--three{
		clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
		z-index: 2;
		background:#1c1c1c;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 35%;
		.promo-slide__info{max-width: 81%;}
		.promo-slide-content.active{
			padding-left: 15%;
			
			.promo-slide__num{padding-left: 27%;}
		}
	}
}
.promo-slide__progress{
	position: relative;
	width: 95%;
	height: 2px;
	background-color: #f5f5f5;
	margin-bottom: 10px;
	span{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	    width: 0;
		transition: 5s; 
		display: block;
		z-index: 2;
		background-color: $accent;
	}
}
.promo-slide__num{
	font-family: $fs;
	line-height: .9;
	letter-spacing: -0.02em;
	color: #f5f5f5;;
}

@media (max-width: 1699px) {
	.promo-slider{
		height: 700px;
		min-height: unset;
		.promo-slide-content {padding-block:10vh 14vh}
		.promo-slide__info{
			max-width: 525px;
			.txt-24{font-size: 20px;}
		}
		.promo-slide__buttons{
			column-gap:16px;
			margin-top: 80px;
			margin-bottom: 40px;
		}
		.promo-slide--first  .promo-slide-content{
			padding-left: 30px;
		}
	}
}
@media (max-width: 1439px) {
	.promo-slider{
		height: 600px;
		
		.promo-slide__info{
			max-width: 480px;
			.txt-24{font-size: 18px;}
		}
	}
}
@media (max-width: 1364px) {
	.promo-slider{
		
		.promo-slide-content {padding-block:8vh 12vh}
		.promo-slide__info{
			max-width: 440px;
			.txt-24{font-size: 18px;}
			 .h1{font-size: 56px ;}
		}
		.promo-slide__buttons{
			column-gap:10px;
			margin-top: 50px;
			margin-bottom: 40px;
			.btn, .btn-outline{font-size: 14px;}
		}
		.promo-slide--first  .promo-slide-content{
			padding-left: 30px;
		}
	}
}
.promo-mobile{
	display: none;
	background-color: #1c1c1c;
	.promo-card{
		background-size: cover;
		background-repeat: no-repeat;
		height: 500px;
		position: relative;
		padding:30px;
		
		
		&:after{
			content:'';
			position: absolute;
			inset: 0;
			background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
			z-index: 1;
		}
		&>*{
			position: relative;
			z-index: 2;
			max-width: 440px;
		}
		.promo-slide__num{
			font-size: 28px;
			margin-bottom: 20px;
		}
		.txt-24{
			color: #f5f5f5;
			font-size: 18px;
		}
		.h1{margin-bottom: 20px;font-weight: 400;}
		.promo-slide__buttons{
			column-gap: 10px;
			.btn, .btn-outline{font-size: 16px;}
		}
		.promo-slide__link a{
			color: #f5f5f5;
			font-size: 16px;
			max-width: 250px;
			display: inline-block;
			transition: .3s; 
			&:hover{color: $accent;}
		}
	}
}

@media (max-width: 1199px) {
	.promo{display: none!important;}
	.promo-mobile{display: block;}
	.promo-mobile .promo-card{width: 100%;}
	.promo-slide__buttons{
		margin-top: 40px;
		margin-bottom: 30px;
	}
	.promo-mobile .swiper-slide-active .promo-slide__progress span{width: 100%;}
}
@media (max-width: 767px) {
	.promo-mobile .promo-card .promo-slide__buttons{
		row-gap: 16px;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 30px;
		margin-bottom: 30px;
		.btn, .btn-outline{font-size: 16px; width: 330px; text-align: center;}
	}
	.promo-mobile .promo-card .txt-24{font-size: 16px;}
	.promo-mobile .promo-card .promo-slide__link a{font-size: 14px;}
	.promo-mobile .promo-card .promo-slide__progress{width: 330px;}
	
}				