@use "../base/var" as *;
.sales{
	position: relative;
	overflow: hidden;
	min-height: 330px;
	display: flex;
	align-items: center;
	.container{position: relative;
		@media (max-width: 767px) {
		position: static;
		}
	}
	.logo-image{transform: translateY(-50%);}
	
	@media (max-width: 767px) {
	 min-height: unset;
	 padding-bottom: 120px;
	}
}
.sales-content{
	max-width: 680px;
	width: 65%;
	position: relative;
	z-index: 2;
	&>*+*{margin-top: 35px;}
	
	@media (max-width: 1023px) {
		width: 100%;
	}
}
.logo-image{
	position: absolute;
	left: 720px;
	top:50%;
	
	max-height: 175px;
	height: 9vw;
	aspect-ratio: 1286/175;
	object-fit: contain;
	@media (max-width: 1449px) {
		left: 45%;
	}
	
	
}
.dark-bg .logo-image{
	@media (max-width: 767px) {
		top:unset;
		bottom:40px;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		max-width: 400px;
		object-fit: contain;
		height: 87px;
	}
}