section.blog-single
	.container-narrow.custom-text
		h2.blog-title Балластная система<br>кровли
		p Для начала давайте разберемся в составе кровельного пирога и поймём, что, собственно, пригружает балласт.
		.dark-list
			p Кровельный пирог — это:
			ul
				li Железобетонное основание — плита перекрытия
				li Пароизоляционный слой — защищает утеплитель от воздействия водяных паров, идущих изнутри дома.
				li Слой теплоизоляции — минеральная вата или экструдированный пенополистирол толщиной не менее 200 мм
				li Слой плоского шифера или геотекстиля для обшивки утеплителя
				li Разуклонка кровли для водоотведения — проводится или керамзитом, или готовым теплоизоляционным материалом клиновидной формы. В последнем случае вы просто покупаете готовый набор клиновидной теплоизоляции и укладываете блоки по схеме производителя.
				li Армированная стяжка строительной смесью М100 или М150
				li Гидроизоляция из ПВХ-мембраны
				li Еще один слой геотекстиля для защиты мембраны от повреждений
				li Отсыпка финишного балластного слоя
			
		p На плоской кровле функцию гидроизоляции выполняет ПВХ мембрана. Крепится она механически или с помощью балласта, чтобы не сорвало при сильных порывах ветра и не деформировало при эксплуатации кровли.
		img(src="./img/blog/single-blog1.webp",  srcset="./img/blog/single-blog1@2x.webp 2x" alt="img" loading="lazy" width="1122" height="441")
		p Механический способ подразумевает под собой крепеж мембраны на саморезы, а для этого придется бурить все слои и — по большому счету — делать пирог перфорированным. Тем самым создавая риск нарушить изоляцию кровли, что приведет к протечкам или нарушению теплообмена. 
		p Гораздо безопаснее крепить мембрану с помощью балласта — щебня.

		h2 Щебень в балластной системе имеет ряд преимуществ и выполняет сразу несколько функций:
		ol
			li 	Основная — пригрузка гидроизоляции
				li Защита ПВХ мембраны от негативного воздействия солнечных лучей. Если мембрана будет надежно укрыта от ультрафиолета, то прослужит она в 2 раза дольше.
				li Балласт в виде щебня защищает мембрану от механических повреждений — крупного града, петард, фейерверков, случайно попавших предметов.
				li Функция фильтра и дренажа — щебень помогает быстрее отвести воду к ливневке и фильтрует загрязнения. Листья, ветки, иголки остаются на поверхности и не забивают водосток, а быстро убрать их можно воздуходувками.
				li Щебень нивелирует неровности и уклоны крыши, перепады будут не заметны и не повлияют на укладку. Если сравнивать с тротуарной плиткой или террасной доской.
		img(src="./img/blog/single-blog2.webp",  srcset="./img/blog/single-blog2@2x.webp 2x" alt="img" loading="lazy" width="1122" height="441")

		h2  Какой щебень используют на кровлю?
		p Чаще всего — #[a(href="#!") гравийный щебень фракции 20-40]. И желательно мытый.У гравийного щебня оптимальная форма зёрен и лещадность, что важно если поверхность планируется эксплуатируемой. По балластной кровле с гравийной засыпкой удобно передвигаться, можно поставить летнюю мебель и хорошо провести время в ясную солнечную погоду.
		p #[a(href="#!") Фракция 20-40]— самая подходящая для балласта. Мы слышали советы использовать фракцию 5-20, но мелкие камни, во-первых, легче и быстрее растаскиваются, а, во-вторых, их нередко таскают птицы и роняют на придомовой территории. Через 2-3 года придется покупать и подсыпать щебень или класть сверху георешетку.

		h2 Как отсыпать щебень на кровле?
		p Щебень для кровли берут не россыпью, а биг-бегами вместимостью 1 тонна. Биг-бег поднимают краном на любую высоту, после чего выгружают #[a(href="#!") щебень] на поверхность. Происходит это так: кран поднимает контейнер с щебнем, его надрезают и высыпают содержимое порционно, по зонам. Кран при этом двигается и подаёт биг-бег к нужному месту. Затем с помощью лопаты щебень распределяют по территории и разравнивают.
		p Высота балластного слоя составляет 20-50 мм. Можно ориентироваться на эти цифры, но надежнее, — а ведь задача балласта в первую очередь удерживать гидроизоляцию — отсыпать щебень из расчета 50 кг на 1 кв.м. Тогда неприятных сюрпризов при резком ухудшении погоды и сильных порывах ветра не будет.

section.article-slider
	.container-narrow
		.header-group
			p.txt-24 Товары которые были в статье
			a(href="#!").flex-link Показать больше
				span.arrow-right

		
		.mySwiper.swiper
			.swiper-wrapper
				.swiper-slide
					+product-card-ui(5,'ЩПС С2 фракции', '0-20 мм', 2300)
				.swiper-slide
					+product-card-ui(6,'ЩПС С2 фракции', '0-20 мм', 2300)
				.swiper-slide
					+product-card-ui(7,'ЩПС С2 фракции', '0-20 мм', 2300)
				.swiper-slide
					+product-card-ui(8,'ЩПС С2 фракции', '0-20 мм', 2300)
				.swiper-slide
					+product-card-ui(5,'ЩПС С2 фракции', '0-20 мм', 2300)
				.swiper-slide
					+product-card-ui(6,'ЩПС С2 фракции', '0-20 мм', 2300)
				.swiper-slide
					+product-card-ui(7,'ЩПС С2 фракции', '0-20 мм', 2300)
				.swiper-slide
					+product-card-ui(8,'ЩПС С2 фракции', '0-20 мм', 2300)
			
			.mySwiper-pagination