// PROMO
section.promo
	.promo-bg-image
		picture
			source(srcset='./img/blog/blog-bg-mob.webp' media='(max-width: 767px)' width='767')
		
			img.wh-100(src='./img/blog/blog-bg.webp'  alt='img')
	.container
		.promo-top
			.breadcrumbs
				+breadcrumbs('Блог')
			
			+city-block

		.promo-content
			.breadcrumbs
				a.bold-txt(href="#!") крыши
				a.bold-txt(href="#!") стройка
			
			.txt-20 7 минут на прочтение
			h1.h1 Щебень для кровли
			.promo-txt
				p #[a(href="#!") Щебень] на кровле – один из вариантов балласта, который используется для пригруза гидроизоляции плоской кровли.
				p В балластной системе щебень считается самым доступным, эффективным и недорогим материалом для крепления и завершающего слоя кровельного пирога.
				p Так как мы сами производим и поставляем щебень, расскажем, какой из его видов и фракций берут чаще, и как происходит процесс отсыпки.
			a(href="#!").back-link.flex-link
				svg.svg-arrow-left
					use(href='./img/sprite.svg#svg-arrow-left')
				| Назад