section.brands
	.container
		.header-group
			h2.h3 Популярные бренды
			a(href="#!").flex-link Показать больше
				span.arrow-right
		
		.brands-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
				.swiper-slide
					.brand-card
						img.wh-100(src="./img/brands/brand.webp" srcset="./img/brands/brand@2x.webp 2x", alt="alt" width="280" height="38")
