section.building-content
	.container
		.header-block
			h1.h2 Основная специализация
			.preview-text.hide-sm
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве
		
		.progects-wrapper.two-columns
			+building-card(3, 'Частные дома, коттеджи и виллы.', 'Проектируем и строим функциональные и эстетичные объекты, учитывая специфику вашего бизнеса. ')
			+building-card(4, 'Коммерческие объекты (офисы, магазины, рестораны).', 'Строим комфортные дома из различных материалов (кирпич, дерево, монолит) по типовым и индивидуальным проектам, учитывая ваши индивидуальные предпочтения по планировке, стилю и используемым технологиям.')
			+building-card(5, 'Дороги, транспортные узлы и инженерные коммуникации.', 'Выполняем полный комплекс работ по строительству и ремонту дорожной и инженерной инфраструктуры.')
			+building-card(6, 'Склады и логистические центры.', 'Строим надежные и эффективные складские комплексы, соответствующие стандартам безопасности и оптимизирующие логистику.')
			+building-card(7, 'Медицинские и образовательные учреждения.', 'Возводим важные объекты социальной инфраструктуры, соответствующие санитарным нормам. ')
			+building-card(8, 'Благоустройство территорий.', 'Создаем комфортную городскую среду, организуем общественные пространства, парки и набережные. ')
