// PROMO
section.promo.promo-dark(style="background: url(./img/portfolio-promo.webp)")
	.container
		.promo-top
			.breadcrumbs
				+breadcrumbs('Портфолио')
			+city-block

		.promo-content
			h1.h1 Строительство под ключ:<br>от идеи дореализации
				
			.promo-txt
				p Мы строим объекты любой сложности под ключ, гарантируя качество, соблюдение сроков и бюджета. Наша команда профессионалов обеспечит полный цикл работ – от проектирования до ввода в эксплуатацию, с учетом всех ваших пожеланий.
			a(href="#!").btn.btn--white Читать статью
		