// building-materials
section.building-materials
	.container.gap-60
		
		//FOR MOB VERSION
		.description-block-mobile(style="background-image: url(./img/block0_bg.webp)")
			.description-block__text
				h2.h2 Отделочные и строительные материалы 
				p У нас вы можете приобрести любые строительные и отделочные материалы — от сыпучих смесей и щебня до плитки и декоративных покрытий, с быстрой доставкой прямо на ваш объект, независимо от объема заказа.
				a(href="#!").btn-square
					span.arrow-right
		
		// TABS SLIDERS
		.tabs-block.myswiper-container
			.tabs-block-nav.flex
				.tabs-nav
					a.tabs-nav__item.active(href="#!" data-tab="tab_1") Все
					a.tabs-nav__item(href="#!" data-tab="tab_2") Песок 
					a.tabs-nav__item(href="#!" data-tab="tab_3") щебень 
					a.tabs-nav__item(href="#!" data-tab="tab_4") метал
					a.tabs-nav__item(href="#!" data-tab="tab_5") Пластик 
					a.tabs-nav__item(href="#!" data-tab="tab_6") метал
					a.tabs-nav__item(href="#!" data-tab="tab_7") Бетоные смеси
				.swiper-nav
					button.tabs-swiper-prev.arrow-left
					button.tabs-swiper-next.arrow-right
			.swiper.swiper-separate
				#tab_1.tabs-body.active
					.tabs-swiper
						.swiper-wrapper
							.swiper-slide
								+product-card(5,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(6,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(7,'ЩПС дробленной фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(8,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(5,'ЩПС С2 фракции', '0-20 мм', 2300)
							
						.tabs-swiper-pagination
						
				#tab_2.tabs-body
					.tabs-swiper
						.swiper-wrapper
							.swiper-slide
								+product-card(1,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(2,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(3,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(4,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(5,'ЩПС С2 фракции', '0-20 мм', 2300)
							
						.tabs-swiper-pagination
				#tab_3.tabs-body
					.tabs-swiper
						.swiper-wrapper
							.swiper-slide
								+product-card(5,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(6,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(7,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(8,'ЩПС С2 фракции', '0-20 мм', 2300)
							.swiper-slide
								+product-card(4,'ЩПС С2 фракции', '0-20 мм', 2300)
							
					.tabs-swiper-pagination