section.building-content
	.container
		.header-block
			h1.h2 Основная специализация
			.preview-text
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве 
		