section.promo.promo--inner
	.container
		.promo-top
			.breadcrumbs
				+breadcrumbs('Каталог')
			+city-block

		.promo-content.center-txt
			h1.h1 Строительные материалы<br>и строительное оборудование
section.main-categories
	.container
		.main-categories-cards.two-columns
			+category-card(1, 'Отделочные и строй материалы', 'Песок', 'Щебень', 'Бетонные материалы ', 'Пластмасса','Бетон')

			+category-card(5, 'Строительное оборудование ', 'Виброрейки', 'Запчасти для строительных подъемников', 'Виброплиты', 'Вибротрамбовки','Запасные части к строительным люлькам', 'Строительные люльки', 'Строительные подъемники')

			+category-card(3, 'Оборудование для строй техники', 'Ковши', 'Щетки', 'Виброплиты', 'Вибротрамбовки','Запасные части к строительным люлькам', 'Строительные люльки', 'Строительные подъемники')