// CATEGORIES
section.categories
	.container
		.category-cards.grid-wrapper
			+category-card('Строительное оборудование, строительные материалы', 1)
			+category-card('Аренда спец техники, аренда дорожной техники', 2)
			+category-card('Оборудование для строительной техники', 3)
			+category-card('Ремонт помещений, строительные работы, загородные работы.', 4)