// CONTACTS
section.contacts
	.container
		.contacts-grid
			.contacts-title
				h2.h2 Контакты<br>и офис
				a(href="mailto:").btn Написать нам
			.contacts-group
				.contacts-group__time
					.txt-24 время работы
					p Пн-Вс: 10:00 - 18:00
				.contacts-group__city
					.txt-24 Санкт-Петербург
					address Россия, 192562, Москва, улица Самовой,&nbsp;5 
				.contacts-group__messanger
					a(href="#!").txt-24 Телеграм 
				.contacts-group__messanger
					a(href="#!").txt-24 Вконтакте 