section.form-section.dark-bg
	.container
		.form-section-content
			h2.h3.white-txt Задать вопрос<br>специалисту
			form.contacts-form.form-dark
				.form-item
					input(type="text" name="name" placeholder="Имя")
				.form-item
					input(type="text" name="phone" placeholder="Телефон")
				.form-item
					input(type="text" name="email"  placeholder="E-mail")
				.form-item
					textarea( name="message" placeholder="Ваш вопрос *")
				.form-item.form-btn
					button(type="submit").btn.btn--white ОТПРАВИТЬ
		.logo-image
			img(src="./img/logo-big.svg", width="1286" height="175" alt="img")
