// SUBSCRIBE FORM SECTIONS
.subscribe.dark-bg
	.container
		.subscribe-content
			.subscribe-text
				p.h4.white-txt  Будьте в курсе последних новостей и акций
			form.subscribe-form.form-dark
				.form-item
					input(type="text" placeholder="Your e-mail")
				button.btn.btn--white(type="submit") Подписаться
				p.agree-txt Подписываясь на рассылку, вы соглашаетесь с #[a(href="#!") условиями оферты] и #[a(href="#!") политикой конфиденциальности]