// FOOTER
footer.footer
	.container
		.footer-content
			.footer-text
				.footer-logo THEIA GROUP
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно монтажных работ в промышленном и гражданском строительстве 
				.footer-contacts
					a(href="tel:88005001372").flex-link.tel-item 8 (800) 500-1372
					a(href="mailto:info@theia.ru").flex-link.email-item info@theia.ru
			
			.footer-nav
				nav.footer-nav__list
					a(href="#!") Главная 
					a(href="#!") Каталог
					a(href="#!") Аренда
					a(href="#!") Услуги
					a(href="#!") Акции
					a(href="#!") О компании
					a(href="#!") Блог
					a(href="#!") Покупателям 
					a(href="#!") Отзывы 
					a(href="#!") Контакты
				.footer-nav__col
			
			.footer-form
				h3.title-22 Subscribe
				form.footer-form
					.form-item
						input.light-border(type="text" placeholder="Your Email")
						button.btn-send(type="submit" )
							img(src="./img/send.svg", alt="send")
					.mt-20
						p.agree-txt Feel free to subscrbe. We don’t spam!

