// FOOTER
footer.footer
	.container
		.footer-content
			.footer-text
				a(href="#!").footer-logo
					svg.logo-group
						use(href='./img/sprite.svg#logo-group')
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно монтажных работ в промышленном и гражданском строительстве 
				.footer-contacts
					a(href="tel:88005001372").flex-link.phone-link 8 (800) 500-1372
					a(href="mailto:info@theia.ru").flex-link.email-link info@theia.ru
			
			.footer-nav
				nav.footer-nav__list
					a(href="#!") Главная 
					a(href="#!") Каталог
					a(href="#!") Аренда
					a(href="#!") Услуги
					a(href="#!") Акции
					a(href="#!") О компании
					a(href="#!") Блог
					a(href="#!") Покупателям 
					a(href="#!") Отзывы 
					a(href="#!") Контакты
				.footer-nav__col
			
			.footer-form-wrapper
				h3.title-22 Subscribe
				form.footer-form
					.form-item
						input.light-border(type="text" placeholder="Your Email")
						button.btn-send(type="submit" )
							img(src="./img/send.svg", alt="send")
					.mt-20
						p.agree-txt Feel free to subscrbe. We don’t spam!

		.footer-bottom
			p.copyright &copy;2025 THEIA GROUP
			a(href="").politic-link Политика приватности
			p.brand-name DESIGN – SAVOV

footer.footer-mobile
	.footer-mobile__logo
		a(href="index.html").logo
			svg.logo-group
				use(href='./img/sprite.svg#logo-group')
	.footer-mobile__content
		.container
			.footer-contacts
				a(href="tel:88005001372").flex-link.phone-link 8 (800) 500-1372
				a(href="mailto:info@theia.ru").flex-link.email-link info@theia.ru
			
			//nav
			.footer-mobile__nav
				ul
					li 
						p.txt-12 О компании
						p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве
					li
						a(href="#!").txt-12 Меню
					li
						a(href="#!").txt-12 Контакты
			
			//subscribe form
			.footer-form-wrapper
				h3.title-22 Будьте в курсе последних новостей и акций
				form.footer-form
					.form-item
						input(type="text" placeholder="Your Email")
						button.btn-send(type="submit" )
							img(src="./img/send.svg", alt="send")
					
					p.agree-txt  Подписываясь на рассылку, вы соглашаетесь с #[a(href="#!") условиями оферты] и #[a(href="#!") политикой конфиденциальности]

			//copyright
			.footer-copyright
				p.txt-12 &copy;2025 THEIA GROUP
				.flex
					a(href="#!").txt-12 Политика приватности
					p.txt-12  DESIGN – SAVOV


				