// GEO
section.geo
	.container
		.geo-map
			
			img(src="./img/map.svg",  width="1500" height="860" alt="map")
			
		// RIGHT COLUMN
		.geo-content
			h2.h2 География
			p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно монтажных работ в промышленном и гражданском строительстве 
			p Работаем собственными силами, обеспечиваем высокое качество строительств
			a(href="#!").btn Узнать подробнее
