//==========SEARCH FORM =========
.header-form-wrapper#header-search-form
	form.header-search-form
		.form-item.search-form-group
			input(type="search" placeholder="Поиск")
			button.btn.search-btn(type="submit")
				svg.svg-search
					use(href='../img/sprite.svg#svg-search')

include ../blocks/_category-menu
//====HEADER===
header.header
	.container
		.header-content
			a(href="#!").logo
				svg.logo-group
					use(href='./img/sprite.svg#logo-group')
			//=== search-form-open button ===
			button.flex-link.search-form-open#searchForm-open Поиск
				svg.svg-search
					use(href='./img/sprite.svg#svg-search')
			//=== header-nav ===
			.header-nav
				ul.header-nav__list
					li.header-nav__item
						a(href="#!")#catalogy-menu-open.header-nav__link Каталог
					li.header-nav__item
						a(href="#!").header-nav__link Аренда техники 
					li.header-nav__item
						a(href="#!").header-nav__link Строительство
					li.header-nav__item
						a(href="#!").header-nav__link Покупателям
					li.header-nav__item
						a(href="#!").header-nav__link Блог
					li.header-nav__item
						a(href="#!").header-nav__link О компании
					li.header-nav__item
						a(href="#!").header-nav__link Контакты
			//=== cart icon ===
			a(href="#!").cart-button
				svg.svg-cart
					use(href='./img/sprite.svg#svg-cart')
			//=== button Обратный звонок ===
			button.btn.btn--white.callback-btn Обратный звонок
			