//SEARCH FORM
.header-form-wrapper#header-search-form
	form.header-search-form
		.form-item.search-form-group
			input(type="search" placeholder="Поиск")
			button.btn.search-btn(type="submit")
				svg.svg-search
					use(href='./img/sprite.svg#svg-search')

include ../blocks/_category-menu
//HEADER
header.header
	.container
		.header-content
			a(href="index.html").logo
				svg.logo-group
					use(href='./img/sprite.svg#logo-group')
			//search-form-open button
			button.flex-link.search-form-open#searchForm-open
				svg.svg-search
					use(href='./img/sprite.svg#svg-search')
				| Поиск
			button#catalogy-menu-open.catalogy-menu-btn Каталог
			//header-nav
			.header-nav
				ul.header-nav__list
					li.header-nav__item
						a(href="#!").header-nav__link Аренда техники 
					li.header-nav__item
						a(href="#!").header-nav__link Строительство
					li.header-nav__item
						a(href="#!").header-nav__link Покупателям
					li.header-nav__item
						a(href="#!").header-nav__link Блог
					li.header-nav__item
						a(href="#!").header-nav__link О компании
					li.header-nav__item
						a(href="#!").header-nav__link Контакты
			//cart icon
			a(href="#!").cart-button
				svg.svg-cart
					use(href='./img/sprite.svg#svg-cart')
			//Обратный звонок
			button.btn.btn--white.callback-btn(data-btn="calc-order") 
				span Обратный звонок
				svg.svg-phone
					use(href='./img/sprite.svg#svg-phone')
				//- img(src="./img/phone-solid.svg", width="14" height="14" alt="icon")
			