//==========SEARCH FORM =========
.header-form-wrapper#header-search-form
	form.header-search-form
		.form-item.search-form-group
			input(type="search" placeholder="Поиск")
			button.btn.search-btn(type="submit")
				svg.svg-search
					use(href='../img/sprite.svg#svg-search')
//======CATEGORY MENU======
.cm-wrapper
	button.close-menu-part &larr;
	.cm-content
		.cm-nav.cm-container
			.scroll-wrapper.cm-level-1
				
				//=== первый уровень меню===
				ul.cm-list
					li.cm-list__item.has-drop(data-drop='1')
						a(href="#!").cm-list__link cat-1
						
					li.cm-list__item.has-drop(data-drop='2')
						a(href="#!").cm-list__link cat-2
						
					li.cm-list__item.has-drop(data-drop='3')
						a(href="#!").cm-list__link cat-3
						
						
			//=== второй уровень меню===
			.scroll-wrapper.cm-level-2
				button.close-menu-part &larr;
				ul.cm-sublist.has-subdrop(data-subdrop='1')
					li.cm-sublist__item.has-subdrop(data-sub-subdrop='11')
						a(href="#!").cm-sublist__link cat-11
					
					li.cm-sublist__item.has-subdrop(data-sub-subdrop='12')
						a(href="#!").cm-sublist__link cat-12
					li.cm-sublist__item.has-subdrop(data-sub-subdrop='13')
						a(href="#!").cm-sublist__link cat-13
				ul.cm-sublist.has-subdrop(data-subdrop='2')
					li.cm-sublist__item.has-subdrop(data-sub-subdrop='21')
						a(href="#!").cm-sublist__link cat-21
					
					li.cm-sublist__item.has-subdrop(data-sub-subdrop='22')
						a(href="#!").cm-sublist__link cat-22
					li.cm-sublist__item.has-subdrop(data-sub-subdrop='23')
						a(href="#!").cm-sublist__link cat-23
						
			//===третий уровень меню===
			.scroll-wrapper.cm-level-3
				button.close-menu-part &larr;
				ul.cm-sub-sublist(data-sublist='11')
					li.cm-sub-sublist__item
						a(href="#!") Песок речной
					li.cm-sub-sublist__item
						a(href="#!") Песок мытый

				ul.cm-sub-sublist(data-sublist='12')
					li.cm-sub-sublist__item
						a(href="#!") Камень речной
					li.cm-sub-sublist__item
						a(href="#!") Камень мытый
						
				
				ul.cm-sub-sublist(data-sublist='13')
					li.cm-sub-sublist__item
						a(href="#!") Продукт материалов
			
		.cm-footer.cm-container
			button.btn Рассчитать стоимость	

//====HEADER===
header.header
	.container
		.header-content
			a(href="#!").logo
				svg.logo-group
					use(href='./img/sprite.svg#logo-group')
			//=== search-form-open button ===
			button.flex-link.search-form-open#searchForm-open Поиск
				svg.svg-search
					use(href='./img/sprite.svg#svg-search')
			//=== header-nav ===
			.header-nav
				//- ul.header-nav__list
				//- 	li.header-nav__item
				//- 		a(href="#!")#catalogy-menu-open.header-nav__link Каталог
				//- 	li.header-nav__item
				//- 		a(href="#!").header-nav__link Аренда техники 
				//- 	li.header-nav__item
				//- 		a(href="#!").header-nav__link Строительство
					//- li.header-nav__item
					//- 	a(href="#!").header-nav__link Покупателям
					//- li.header-nav__item
					//- 	a(href="#!").header-nav__link Блог
					//- li.header-nav__item
					//- 	a(href="#!").header-nav__link О компании
					//- li.header-nav__item
					//- 	a(href="#!").header-nav__link Контакты
			//=== cart icon ===
			a(href="#!").cart-button
				svg.svg-cart
					use(href='./img/sprite.svg#svg-cart')
			//=== button Обратный звонок ===
			//- button.btn.btn--white.callback-btn Обратный звонок
