//=== SERVICE===
section.our-service.dark-bg
	.container
		.header-content
			h2.h3.white-txt Наши услуги 
			.hide-sm
				a(href="#!").btn-outline Посмотреть больше услуг
		.service-cards.grid-wrapper
			+serv-card(1, 'Отделочные работы', 'Возьмите любую спецтехнику в аренду в СПБ на срок от 3-х смен и получите скидку 5%. Торопитесь, срок действия акции ограничен!')
			+serv-card(2, 'Бригадные работы ', 'Возьмите любую спецтехнику в аренду в СПБ на срок от 3-х смен и получите скидку 5%. Торопитесь, срок действия акции ограничен!')
			+serv-card(3, 'Геодезия под ключ ', 'Возьмите любую спецтехнику в аренду в СПБ на срок от 3-х смен и получите скидку 5%. Торопитесь, срок действия акции ограничен!')
		.visible-sm
			a(href="#!").btn-outline Посмотреть больше услуг