//===BENEFITS===
section.benefits
	.container
		.description-block
			.description-block__text
				h2.h2 Опыт, отвественность, компетентность - наши отличительные черты
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно&shy;монтажных работ в промышленном и гражданском строительстве
				p Работаем собственными силами, обеспечиваем высокое качество строительств
			
			.description-block__img
				img.wh-100(src="./img/block3_bg.webp", srcset="./img/block3_bg@2x.webp 2x", width="864" height="402" alt="img" loading="lazy")
		
//==== statistic-block ====
section.statistic
	.container
		.statistic-block.grid-border
			.grid-border__item
				.statistic-item
					.accent-txt 10 лет
					p На рынке
			.grid-border__item
				.statistic-item
					.accent-txt 350+
					p Сотрудников
			.grid-border__item
				.statistic-item
					.accent-txt 30+
					p Объектов возведено
			.grid-border__item
				.statistic-item
					.accent-txt 246%
					p Увеличение оборота за год