//===BENEFITS===
section.our-benefits.dark-bg
	.container
		h2.h3 Почему THeia
		.benefits-list.four-columns
			.benefits-item
				p Большой ассортимент строительных материалов
				img(src="./img/benefits/icon1.webp", srcset="./img/benefits/icon1@2x.webp 2x" alt="icon" width="30" height="30")
			
			.benefits-item
				p Доставка стройматериалов в течение двух часов или<br>в любое удобное время
				img(src="./img/benefits/icon2.webp", srcset="./img/benefits/icon2@2x.webp 2x" alt="icon" width="30" height="30")
			.benefits-item
				p Простой возврат товар что не пригодились в течении 360<br>дней 
				img(src="./img/benefits/icon3.webp", srcset="./img/benefits/icon3@2x.webp 2x" alt="icon" width="30" height="30")
			.benefits-item
				p Многоуровневая система управления качеством по стандарту ISO 9001
				img(src="./img/benefits/icon4.webp", srcset="./img/benefits/icon4@2x.webp 2x" alt="icon" width="30" height="30")

