//===BENEFITS===
section.benefits.dark-bg
	.container
		h2.h3 Наши преимущества
		.benefits-list.three-columns
			.benefit-item
				img(src="./img/benefits/icon1.webp", srcset="./img/benefits/icon1@2x.webp 2x" alt="icon" width="30" height="30")
				p Есть пропуска:<br>ТТК, СК, МКАД
				
			
			.benefit-item
				img(src="./img/benefits/icon2.webp", srcset="./img/benefits/icon2@2x.webp 2x" alt="icon" width="30" height="30")
				p На рынке <br>c 2006 года

			.benefit-item
				img(src="./img/benefits/icon3.webp", srcset="./img/benefits/icon3@2x.webp 2x" alt="icon" width="30" height="30")
				p Любой удобный<br> способ оплаты
			
			.benefit-item
				img(src="./img/benefits/icon4.webp", srcset="./img/benefits/icon4@2x.webp 2x" alt="icon" width="30" height="30")
				p Без недогруза
			.benefit-item
				img(src="./img/benefits/icon4.webp", srcset="./img/benefits/icon4@2x.webp 2x" alt="icon" width="30" height="30")
				p Работаем напрямую<br>с производителями
			.benefit-item
				img(src="./img/benefits/icon4.webp", srcset="./img/benefits/icon4@2x.webp 2x" alt="icon" width="30" height="30")
				p Собственный<br> автопарк

