//===BENEFITS===
.benefits
	.container
		h2.title-24 Наши преимущества
		.benefits-list.three-columns
			.benefit-item
				.flex-center
					img(src="./img/benefits/icon5.webp", srcset="./img/benefits/icon5@2x.webp 2x" alt="icon" width="28" height="28")
				p Есть пропуска:<br>ТТК, СК, МКАД
			
			.benefit-item
				.flex-center
					img(src="./img/benefits/icon6.webp", srcset="./img/benefits/icon6@2x.webp 2x" alt="icon" width="28" height="28")
				p На рынке <br>c 2006 года

			.benefit-item
				.flex-center
					img(src="./img/benefits/icon7.webp", srcset="./img/benefits/icon7@2x.webp 2x" alt="icon" width="28" height="28")
				p Любой удобный<br> способ оплаты
			
			.benefit-item
				.flex-center
					img(src="./img/benefits/icon8.webp", srcset="./img/benefits/icon8@2x.webp 2x" alt="icon" width="28" height="28")
				p Без недогруза
			.benefit-item
				.flex-center
					img(src="./img/benefits/icon9.webp", srcset="./img/benefits/icon9@2x.webp 2x" alt="icon" width="28" height="28")
				p Работаем напрямую<br>с произво&shy;дите&shy;лями
			.benefit-item
				.flex-center
					img(src="./img/benefits/icon10.webp", srcset="./img/benefits/icon10@2x.webp 2x" alt="icon" width="28" height="28")
				p Собственный<br> автопарк

