// PROMO
section.promo.promo-dark(style="background: url(./img/portfolio-promo.webp)")
	.container
		.promo-top
			.breadcrumbs
				+breadcrumbs('Портфолио')
			+city-block

		.promo-content
			h1.h1 Строительство под<br>ключ: от идеи до<br>реализации
				
			.promo-txt
				p Щебень на кровле – один из вариантов балласта, который используется для пригруза гидроизоляции плоской кровли.
				p В балластной системе щебень считается самым доступным, эффективным и недорогим материалом для крепления и завершающего слоя кровельного пирога.
				p Так как мы сами производим и поставляем щебень, расскажем, какой из его видов и фракций берут чаще, и как происходит процесс отсыпки.
			a(href="#!").btn.btn--white Читать статью