// PROMO
section.promo.promo-dark.promo--gradient(style="background-image: url(./img/portfolio-promo.webp)")
	.container
		.promo-top
			+breadcrumbs('Портфолио')
			
		.promo-content
			h1.h2-fix От идеи до реализации 
				
			.promo-txt
				p.title-24-fix Дом в Ленинградской области 840 м2
			a(href="#!").btn.btn--white.sm-100 Посмотреть проект 