
section.product-details
	.container-grid
		.content-grid__frame
			h1.h3 Речной песок
			.preview-text
				p Песок - один из самых востребованных строительных материалов. Используется для приготовления строительных растворов, сухих строительных смесей, а также в качестве выравнивающего основания.
				p Подходит как для внутренних, так и для наружных работ. Применяется в строительстве и отделочных работах, возведении дорог и ландшафтном обустройстве. Продается в мешках весом 30 кг. Произведен в России.
				p
					strong Внимание! Товар весом более 1 тонны. необходимо перемещать минимум двумя людьми или с помощью механизированного оборудования. 
		
		//TABLE
		.product-table
			
			table
				thead
					tr
						th.table-name Наименование
						th.table-price Цена за куб
						th Розницу
						th.table-count Количество
						th.table-btn
				tbody
					//ROW
					tr
						td.table-name.label-hide-chebx
							input.hide-chebx(type="checkbox" name="prod1")
							span намывной песок
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать
					
					//ROW
					tr
						td.table-name 
							a(href="#!") Крупнозернистый (>2.5 мм)
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать
					//ROW
					tr
						td.table-name 
							a(href="#!") Речной мытый песок
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать
					//ROW
					tr
						td.table-name 
							a(href="#!") Речной сеяный песок
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать
					//ROW
					tr
						td.table-name 
							a(href="#!") Крупнозернистый (>2.5 мм)
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать
					//ROW
					tr
						td.table-name 
							a(href="#!") Крупнозернистый (>2.5 мм)
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать
										//ROW
					//ROW
					tr
						td.table-name 
							a(href="#!") Крупнозернистый (>2.5 мм)
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать
					//ROW
					tr
						td.table-name 
							a(href="#!") Крупнозернистый (>2.5 мм)
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать
					//ROW
					tr
						td.table-name 
							a(href="#!") Крупнозернистый (>2.5 мм)
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать
					//ROW
					tr
						td.table-name 
							a(href="#!") Крупнозернистый (>2.5 мм)
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать
					//ROW
					tr
						td.table-name 
							a(href="#!") Крупнозернистый (>2.5 мм)
						td.table-price 320 руб/м3
						td 320 руб/м3
						td.table-count
							.counter
								button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
								input.counter-value(type="number" value="1000" min="0")
								button(type="button" aria-label="Увеличить количество").counter-plus +
						td.table-btn 
							a(href="#!").btn Заказать

		//SIDEBAR
		sidebar.aside
			.detailed-card
				.detailed-card__body.bx-sh
					.detailed-card-group
						span.detailed-art.txt-12 Код: 105703
						.detailed-title.txt-24 Речной мытый песок
						.rating-block.flex
							.rating-stars
							span.txt-12 39 отзывов
					
					.price-block
						.price-block__item
							p от от 870 руб./м3
							span.txt-12 за шт
						.price-block__item
							p от 700 руб./тн
							span.txt-12 В розницу
					
					.detailed-card-group
						.counter
							button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
							input.counter-value(type="number" value="1000" min="0" )
							button(type="button" aria-label="Увеличить количество" ).counter-plus +
		
						.detailed-total
							span.txt-12 Стоимость
							p.amount 700 000 руб
					
					
					button.btn-primary В корзину
					button.btn Рассчитать стоимость
				
				.detailed-card__footer.bx-sh
					ul.dotted-list
						li
							p.list__name Наличие
							span.line-bwn
							p.list__val Много
						li
							p.list__name Доставка
							span.line-bwn
							p.list__val 24/7
						li
							p.list__name Способ получения
							span.line-bwn
							p.list__val Самовывоз, Доставка