// PROMO ГЛАВНАЯ MOB
.promo-mobile
	.promo-swiper.swiper
		.swiper-wrapper
			.swiper-slide
				.promo-card(style="background-image:url('./img/block0_bg.webp')")
					.promo-slide__num 01
					
					h2.h1 Строй<br>материалы 
					.txt-24 У нас вы можете найти строй материалы, арендовать строительный транспорт, купить оборугование для транспорта и закать большой спект услуг. 
			
					.promo-slide__buttons.flex
						button.btn.btn--white Арендовать спецтехнику
						button.btn-outline Узнать подробнее
					
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Строительное оборудование, строительные материалы
			
			.swiper-slide
				.promo-card(style="background-image:url('./img/block1_bg.webp')")
					.promo-slide__num 02
					
					h2.h1 Аренда<br>спецтехники 
					.txt-24 У нас вы можете найти строй материалы, арендовать строительный транспорт, купить оборугование для транспорта и закать большой спект услуг. 
			
					.promo-slide__buttons.flex
						button.btn.btn--white Арендовать спецтехнику
						button.btn-outline Узнать подробнее
					
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Аренда спец техники, аренда дорожной техники
			
			.swiper-slide
				.promo-card(style="background-image:url('./img/block3_bg.webp')")
					.promo-slide__num 03
					
					h2.h1 Строительное<br>оборудование
					.txt-24 У нас вы можете найти строй материалы, арендовать строительный транспорт, купить оборугование для транспорта и закать большой спект услуг. 
			
					.promo-slide__buttons.flex
						button.btn.btn--white Арендовать спецтехнику
						button.btn-outline Узнать подробнее
					
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Ремонт помещений, строительные работы, загородные работы.