
section.product-details
	.container-grid
		.content-grid__frame.gap-40
			.header-block
				h1.h3 Речной песок
				.preview-text
					p Песок - один из самых востребованных строительных материалов. Используется для приготовления строительных растворов, сухих строительных смесей, а также в качестве выравнивающего основания.
					p Подходит как для внутренних, так и для наружных работ. Применяется в строительстве и отделочных работах, возведении дорог и ландшафтном обустройстве. Продается в мешках весом 30 кг. Произведен в России.
					p
						strong Внимание! Товар весом более 1 тонны. необходимо перемещать минимум двумя людьми или с помощью механизированного оборудования. 
		
			//TABLE
			.product-table
				
				table
					thead
						tr
							th.table-name Наименование
							th.table-price Цена за куб
							th Розницу
							th.table-count Количество
							th.table-btn
					tbody
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod1")
									span намывной песок
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
						
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod2")
									span  Речной мытый песок
							
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod3")
									span  Речной сеяный песок
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod4")
									span  Речной сеяный песок
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod5")
									span Крупнозернистый (>2.5 мм)
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod6")
									span Мелкий речной песок
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
											//ROW
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod7")
									span Средний речной песок
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod8")
									span Крупный речной песок
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod9")
									span Речной песок 0.16-0.315
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod10")
									span Речной песок 0,63 - 1.25
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod11")
									span Речной песок 1.25-2.5
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать
						//ROW
						tr
							td.table-name
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod12")
									span Речной песок 2.5-5.0
							td.table-price 320 руб/м3
							td 320 руб/м3
							td.table-count
								.counter
									button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
									input.counter-value(type="number" value="1000" min="0")
									button(type="button" aria-label="Увеличить количество").counter-plus +
							td.table-btn 
								a(href="#!").btn Заказать

			include _our-benefits

			//DESCRIP TEXT
			.information-article
				h2.title-24 О компании
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве 
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве 
			//DESCRIP TEXT
			.information-article
				h2.title-24 Как происходит доставка 
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве 
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве 
		
			//REVIEW SWIPER
			.review
				.header-group
					h2.title-24 Отзывы
					a(href="#!").flex-link Смотреть подробнее
						span.arrow-right
		
				include _review-swiper
			
			//CARDS SLIDER
			.article-slider
				.header-group
					p.title-24 Товары которые вам могут понравиться 
					a(href="#!").flex-link Показать больше
						span.arrow-right
				
				.mySwiper.swiper
				
					.swiper-wrapper
						.swiper-slide
							+product-card-ui(5,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(6,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(7,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(8,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(5,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(6,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(7,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(8,'ЩПС С2 фракции', '0-20 мм', 2300)
					
					.mySwiper-pagination

			//DISCONT SLIDER
			.discont
				.header-group
					h2.title-24 Акции
					a(href="#!").flex-link Показать больше
						span.arrow-right
				.discont-slider.swiper
					.swiper-wrapper
						.swiper-slide
							.discont-card
								.discont-card__body(style="background-image:url(../img/sale-card1.webp)")
									.txt-20 ЭКСКАВАТОР ФРОНТАЛЬНЫЙ
									p при заказе в паре с самосвалом
									.discont-card__price 
										span 2950 руб/ч
								
								button.btn-grey оставить заявку
						.swiper-slide
							.discont-card
								.discont-card__body(style="background-image:url(../img/sale-card2.webp)")
									.txt-20 ДОРОЖНЫЙ ГРУНТОВОЙ КАТОК ВИБРАЦИОННЫЙ 12-14 ТОНН
									p только этой осенью
									.discont-card__price 
										span 2950 руб/ч 
										span.old-price  вместо 3300 руб/ч
								
								button.btn-grey оставить заявку
						
						.swiper-slide
							.discont-card
								.discont-card__body(style="background-image:url(../img/sale-card1.webp)")
									.txt-20 ЭКСКАВАТОР ФРОНТАЛЬНЫЙ
									p при заказе в паре с самосвалом
									.discont-card__price 
										span 2950 руб/ч
								
								button.btn-grey оставить заявку
						
						.swiper-slide
							.discont-card
								.discont-card__body(style="background-image:url(../img/sale-card1.webp)")
									.txt-20 ЭКСКАВАТОР ФРОНТАЛЬНЫЙ
									p при заказе в паре с самосвалом
									.discont-card__price 
										span 2950 руб/ч
								
								button.btn-grey оставить заявку
						.swiper-slide
							.discont-card
								.discont-card__body(style="background-image:url(../img/sale-card2.webp)")
									.txt-20 ДОРОЖНЫЙ ГРУНТОВОЙ КАТОК ВИБРАЦИОННЫЙ 12-14 ТОНН
									p только этой осенью
									.discont-card__price 
										span 2950 руб/ч 
										span.old-price  вместо 3300 руб/ч
								
								button.btn-grey оставить заявку
					
					.mySwiper-pagination
		
		
		//SIDEBAR
		sidebar.aside
			.detailed-card
				.detailed-card__body.bx-sh
					.detailed-card-group
						span.detailed-art.txt-12 Код: 105703
						.detailed-title.title-24 Речной мытый песок
						.rating-block.flex
							.rating-stars
							span.txt-12 39 отзывов
					
					.price-block
						.price-block__item
							p от от 870 руб./м3
							span.txt-12 за шт
						.price-block__item
							p от 700 руб./тн
							span.txt-12 В розницу
					
					.detailed-card-group
						.counter
							button(type="button" disabled aria-label="Уменьшить количество").counter-minus -
							input.counter-value(type="number" value="1000" min="0" )
							button(type="button" aria-label="Увеличить количество" ).counter-plus +
		
						.detailed-total
							span.txt-12 Стоимость
							p.amount 700 000 руб
					
					
					button.btn-primary В корзину
					button.btn Рассчитать стоимость
				
				.detailed-card__footer.bx-sh
					ul.dotted-list
						li
							p.list__name Наличие
							span.line-bwn
							p.list__val Много
						li
							p.list__name Доставка
							span.line-bwn
							p.list__val 24/7
						li
							p.list__name Способ получения
							span.line-bwn
							p.list__val Самовывоз, Доставка