//====PROMO ===	
section.promo
	.promo-slider
		//==== первый блок====
		.promo-slide.promo-slide--first
			//===слайд материалы===
			.promo-slide-content.active
				.promo-slide__img
					img(src="./img/block0_bg.webp", alt="img")
				
				.promo-slide__info
					.promo-slide__num 01
					
					h2.h1 Строй материалы 
					.txt-24 У нас вы можете найти строй материалы, арендовать строительный транспорт, купить оборугование для транспорта и закать большой спект услуг. 
			
					.promo-slide__buttons.flex
						button.btn.btn--white Арендовать спецтехнику
						button.btn-outline Узнать подробнее
					
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Строительное оборудование, строительные материалы
			
			//===слайд аренда===
			.promo-slide-content 
				.promo-slide__img
					img(src="./img/block1_bg.webp", alt="img")
				.promo-slide__info
					.promo-slide__num 02
					
					h2.h1 Аренда спецтехники 
					.txt-24 У нас вы можете найти строй материалы, арендовать строительный транспорт, купить оборугование для транспорта и закать большой спект услуг. 
			
					.promo-slide__buttons.flex
						button.btn.btn--white Арендовать спецтехнику
						button.btn-outline Узнать подробнее
					
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Аренда спец техники, аренда дорожной техники
			
			//===слайд оборудование===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block2_bg.webp", alt="img")
				.promo-slide__info
					.promo-slide__num 03
					
					h2.h1 Строительное оборудование
					.txt-24 У нас вы можете найти строй материалы, арендовать строительный транспорт, купить оборугование для транспорта и закать большой спект услуг. 
			
					.promo-slide__buttons.flex
						button.btn.btn--white Арендовать спецтехнику
						button.btn-outline Узнать подробнее
					
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Ремонт помещений, строительные работы, загородные работы.
		
		//=====центральный блок ===
		.promo-slide.promo-slide--two
			//===слайд аренда===
			.promo-slide-content.active
				.promo-slide__img
					img(src="./img/block1_bg.webp", alt="img")
				.promo-slide__info
					.promo-slide__num 02
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Аренда спец техники, аренда дорожной техники
			//===слайд оборудование===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block2_bg.webp", alt="img")
				.promo-slide__info
					.promo-slide__num 03
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Ремонт помещений, строительные работы, загородные работы.
			//===слайд материалы===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block0_bg.webp", alt="img")
				.promo-slide__info
					.promo-slide__num 01
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Строительное оборудование, строительные материалы
		
		//===== третий блок ===
		.promo-slide.promo-slide--three
			//===слайд оборудование===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block2_bg.webp", alt="img")
				.promo-slide__info
					.promo-slide__num 03
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Ремонт помещений, строительные работы, загородные работы.
			//===слайд материалы===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block0_bg.webp", alt="img")
				.promo-slide__info
					.promo-slide__num 01
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Строительное оборудование, строительные материалы
			//===слайд аренда===
			.promo-slide-content.active
				.promo-slide__img
					img(src="./img/block1_bg.webp", alt="img")
				.promo-slide__info
					.promo-slide__num 02
					.promo-slide__progress
						span
					.promo-slide__link
						a(href="#!") Аренда спец техники, аренда дорожной техники