//====PROMO ===	
section.promo
	.promo-slider
		//==== первый блок====
		.promo-slide.promo-slide--first
			//===слайд материалы===
			.promo-slide-content.active
				.promo-slide__img
					img(src="./img/block0_bg.webp", alt="img")
				h2 slide--first
			
			//===слайд аренда===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block1_bg.webp", alt="img")
				h2 slide--two
			
			//===слайд оборудование===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block2_bg.webp", alt="img")
				h2 slide--three
		
		//=====центральный блок ===
		.promo-slide.promo-slide--two
			//===слайд аренда===
			.promo-slide-content.active
				.promo-slide__img
					img(src="./img/block1_bg.webp", alt="img")
				h2 slide--two
			//===слайд оборудование===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block2_bg.webp", alt="img")
				h2 slide--three
			//===слайд материалы===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block0_bg.webp", alt="img")
				h2 slide--first
		
		//===== третий блок ===
		.promo-slide.promo-slide--three
			//===слайд материалы===
			.promo-slide-content.active
				.promo-slide__img
					img(src="./img/block2_bg.webp", alt="img")
				h2 slide--three
			//===слайд оборудование===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block0_bg.webp", alt="img")
				h2 slide--first
			//===слайд аренда===
			.promo-slide-content
				.promo-slide__img
					img(src="./img/block1_bg.webp", alt="img")
				h2 slide--two