// PROMO
section.promo.promo-dark.promo--gradient(style="background-image: url(./img/rent-category-promo.webp)")
	.container
		.promo-top
			+breadcrumbs('Аренда спецтехники')
			+city-block
		.promo-content
			h1.h1 Аренда<br>спецтехники 
				
			.promo-txt
				p У нас вы можете найти строй материалы, арендовать строительный транспорт, купить оборугование для транспорта и закать большой спект услуг. 
			a(href="#!").btn.btn--white Арендовать #[span.hide-sm спецтехнику] в один клик 