section.rent-assort
	.container
		.tabs-block
			.tabs-nav.tabs-nav--center
				a.tabs-nav__item.active(href="#!" data-tab="all") Все
				a.tabs-nav__item(href="#!" data-tab="tab_2") Автовышки
				a.tabs-nav__item(href="#!" data-tab="tab_3") Автокраны
				a.tabs-nav__item(href="#!" data-tab="tab_4") Бортовые автомобили
				a.tabs-nav__item(href="#!" data-tab="tab_5") Бульдозеры 
				a.tabs-nav__item(href="#!" data-tab="tab_6") Длинномеры
				a.tabs-nav__item(href="#!" data-tab="tab_7") Катки
				a.tabs-nav__item(href="#!" data-tab="tab_8") Коммунальная техника
				a.tabs-nav__item(href="#!" data-tab="tab_9") Компрессоры  
				a.tabs-nav__item(href="#!" data-tab="tab_10") Манипуляторы
				a.tabs-nav__item(href="#!" data-tab="tab_11") Самосвалы
				a.tabs-nav__item(href="#!" data-tab="tab_12") Мини экскаваторы
				a.tabs-nav__item(href="#!" data-tab="tab_13") Пухто
				a.tabs-nav__item(href="#!" data-tab="tab_14") Минипогрузчики
				a.tabs-nav__item(href="#!" data-tab="tab_15") Телескопические погрузчики
				a.tabs-nav__item(href="#!" data-tab="tab_16") Тралы
				a.tabs-nav__item(href="#!" data-tab="tab_17") Фронтальные погрузчики
				a.tabs-nav__item(href="#!" data-tab="tab_18") Эвакуаторы
				a.tabs-nav__item(href="#!" data-tab="tab_19") Экскаваторы гусеничные
				a.tabs-nav__item(href="#!" data-tab="tab_20") Мини экскаваторы
				a.tabs-nav__item(href="#!" data-tab="tab_21") Экскаваторы колесные
				a.tabs-nav__item(href="#!" data-tab="tab_22") Экскаваторы-погрузчики
			// SINGLE  TAB CONTENT
			#all.tabs-body.active
				+flipCard(4)
				+flipCard(2)
				+flipCard(3)
				+flipCard


			#tab_2.tabs-body
				+flipCard
				+flipCard(3)
				+flipCard(2)
				+flipCard(4)



