//===BENEFITS===
section.pros.dark-bg
	.container
		
		.pros-list.four-columns
			.pros-item
				p Собственный автопарк импортной спецтехники в Москве и СПб
				img(src="./img/benefits/icon11.webp", srcset="./img/benefits/icon11@2x.webp 2x" alt="icon" width="30" height="30")
			
			.pros-item
				p Квалифицированные машинисты с большим стажем
				img(src="./img/benefits/icon12.webp", srcset="./img/benefits/icon12@2x.webp 2x" alt="icon" width="30" height="30")
			.pros-item
				p Оплата за наличный и безналичный расчет с НДС
				img(src="./img/benefits/icon13.webp", srcset="./img/benefits/icon13@2x.webp 2x" alt="icon" width="30" height="30")
			.pros-item
				p Подача спецтехники на ваш объект от 2-х часов
				img(src="./img/benefits/icon14.webp", srcset="./img/benefits/icon14@2x.webp 2x" alt="icon" width="30" height="30")
section.rent-categories
	.container
		.rent-categories-list
			+mini-card('1', 'Автовышки', 'от 10 500 руб')
			+mini-card('2', 'Автокраны', 'от 11 000 руб')
			+mini-card('3', 'Бортовые автомобили', 'от 8 800 руб')
			+mini-card('4', 'Бульдозеры', 'от 12 000 руб')
			+mini-card('5', 'Длинномеры', 'от 11 200 руб')
			+mini-card('6', 'Катки', 'от 13 000 руб')
			+mini-card('7', 'Коммунальная техника', 'от 11 000 руб')
			+mini-card('8', 'Компрессоры', 'от 9 200 руб')
			+mini-card('9', 'Манипуляторы', 'от 11 000 руб')
			+mini-card('10', 'Мини экскаваторы', 'от 13 000 руб')
			+mini-card('11', 'Минипогрузчики', 'от 10 000 руб')
			+mini-card('12', 'Пухто', 'от 12 000 руб')
			+mini-card('13', 'Самосвалы', 'от 10 000 руб')
			+mini-card('14', 'Телескопические погрузчики', 'от 14 000 руб')
			+mini-card('15', 'Тралы', 'от 16 000 руб')
			+mini-card('16', 'Фронтальные погрузчики', 'от 15 000 руб')
			+mini-card('17', 'Эвакуаторы', 'от 4 000 руб')
			+mini-card('18', 'Экскаваторы гусеничные', 'от 15 000 руб')
			+mini-card('19', 'Экскаваторы колесные', 'от 15 000 руб')
			+mini-card('20', 'Экскаваторы-погрузчики', 'от 14 000 руб')