
.header-group
	h2.title-24 Отзывы
	a(href="#!").flex-link.txt-16 Смотреть подробнее
		span.arrow-right

.swiper.review-swiper
	.swiper-wrapper
		.swiper-slide
			.review-card
				.rating-stars
				.txt-24 ООО «СпецТех»
				.txt-12 30 января 2024
				p  ООО «СпецТех» выражает благодарность компании партнёру по бизнесу ООО «ТГС». Мы искренне ценим установившиеся между нашими организациями дружественные отношения, которые позволяют нам...
		.swiper-slide
			.review-card
				.rating-stars
				.txt-24 ООО «СпецТех»
				.txt-12 30 января 2024
				p  ООО «СпецТех» выражает благодарность компании партнёру по бизнесу ООО «ТГС». Мы искренне ценим установившиеся между нашими организациями дружественные отношения, которые позволяют нам...
		.swiper-slide
			.review-card
				.rating-stars
				.txt-24 ООО «СпецТех»
				.txt-12 30 января 2024
				p  ООО «СпецТех» выражает благодарность компании партнёру по бизнесу ООО «ТГС». Мы искренне ценим установившиеся между нашими организациями дружественные отношения, которые позволяют нам...
		.swiper-slide
			.review-card
				.rating-stars
				.txt-24 ООО «СпецТех»
				.txt-12 30 января 2024
				p  ООО «СпецТех» выражает благодарность компании партнёру по бизнесу ООО «ТГС». Мы искренне ценим установившиеся между нашими организациями дружественные отношения, которые позволяют нам...
		.swiper-slide
			.review-card
				.rating-stars
				.txt-24 ООО «СпецТех»
				.txt-12 30 января 2024
				p  ООО «СпецТех» выражает благодарность компании партнёру по бизнесу ООО «ТГС». Мы искренне ценим установившиеся между нашими организациями дружественные отношения, которые позволяют нам...
	//slider pagibation
	.mySwiper-pagination