//===SALES===
section.dark-bg.sales
	.container
		.sales-content
			p.h3.white-txt  Нерудные материалы<br>по выгодным ценам скидка 10%
			a(href="#!").btn.btn--accent Узнать подробнее
		.sales-image
			img(src="./img/logo-big.svg", width="1286" height="175" alt="img")