section.product-details
	.container-grid
		.content-grid__frame.gap-40
			.fotorama
				.swiper.mySwiperThumb(thumbsslider)
					.swiper-wrapper
						.swiper-slide
							img(src='./img/fotorama/fotorama4-t.webp' srcset='./img/fotorama/fotorama4-t@2x.webp 2x' width="193" height="130" alt="img")
						.swiper-slide
							img(src='./img/fotorama/fotorama2-t.webp' srcset='./img/fotorama/fotorama2-t@2x.webp 2x' width="193" height="130" alt="img")
						.swiper-slide
							img(src='./img/fotorama/fotorama3-t.webp' srcset='./img/fotorama/fotorama3-t@2x.webp 2x' width="193" height="130" alt="img")
						.swiper-slide
							img(src='./img/fotorama/fotorama1-t.webp' srcset='./img/fotorama/fotorama1-t@2x.webp 2x' width="193" height="130" alt="img")
						.swiper-slide
							img(src='./img/fotorama/fotorama2-t.webp' srcset='./img/fotorama/fotorama2-t@2x.webp 2x' width="193" height="130" alt="img")
						.swiper-slide
							img(src='./img/fotorama/fotorama3-t.webp' srcset='./img/fotorama/fotorama3-t@2x.webp 2x' width="193" height="130" alt="img")
					
				.swiper.mySwiperFotorama
				
					.swiper-wrapper
						.swiper-slide
							img(src='./img/fotorama/fotorama4.webp' srcset="./img/fotorama/fotorama4@2x.webp 2x" width="900" height="470" alt="img")
						.swiper-slide
							img(src='./img/fotorama/fotorama2.webp' srcset="./img/fotorama/fotorama2@2x.webp 2x" width="900" height="470" alt="img")
						.swiper-slide
							img(src='./img/fotorama/fotorama3.webp' srcset="./img/fotorama/fotorama3@2x.webp 2x" width="900" height="470" alt="img")
						.swiper-slide
							img(src='./img/fotorama/fotorama1.webp' srcset="./img/fotorama/fotorama1@2x.webp 2x" width="900" height="470" alt="img")
						.swiper-slide
							img(src='./img/fotorama/fotorama2.webp' srcset="./img/fotorama/fotorama2@2x.webp 2x" width="900" height="470" alt="img")
						.swiper-slide
							img(src='./img/fotorama/fotorama3.webp' srcset="./img/fotorama/fotorama3@2x.webp 2x" width="900" height="470" alt="img")
			
			//TABS
			.specifications.specifications-tabs.tabs-block
				.tabs-nav
					a.tabs-nav__item.active(href="#!" data-tab="tab_1") ОПИСАНИЕ
					a.tabs-nav__item(href="#!" data-tab="tab_2") Характеристики
					a.tabs-nav__item(href="#!" data-tab="tab_3") Доставка
					a.tabs-nav__item(href="#!" data-tab="tab_4") Документы 
				
				#tab_1.tabs-body.active
					.specifications__desk
						.title-24 Речной песок 
						p Песок - один из самых востребованных строительных материалов. Используется для приготовления строительных растворов, сухих строительных смесей, а также в качестве выравнивающего основания.
						p Подходит как для внутренних, так и для наружных работ. Применяется в строительстве и отделочных работах, возведении дорог и ландшафтном обустройстве. Продается в мешках весом 30 кг. Произведен в России.
						p
							strong Внимание! Товар весом более 1 тонны. необходимо перемещать минимум двумя людьми или с помощью механизированного оборудования. 
				#tab_2.tabs-body
					.specifications-characteristics.two-columns
						//IMAGE
						.characteristics-img
							img(src="./img/specificate.webp", srcset="./img/specificate@2x.webp 2x"  width="551" height="373" alt="img")
						//LIST BLOCK
						.specifications__list-block
							p.specifications__list-title Характеристики
							ul.dotted-list
								li
									p.list__name Объём
									span.line-bwn
									p.list__val 15 м3
								li
									p.list__name Масса
									span.line-bwn
									p.list__val 17800 кг
								li
									p.list__name A
									span.line-bwn
									p.list__val 3300 мм
								li
									p.list__name B
									span.line-bwn
									p.list__val 3100 мм
								li
									p.list__name C
									span.line-bwn
									p.list__val 3800 мм
							
						
							p.specifications__list-title Применение
							p Изготовление высокопрочного бетона, ЖБИ, ЖБК, тротуарной плитки и кладочного раствора, а также стекла и кирпича.
							a(href="#!").flex-link.txt-16 Посмотреть все размеры
								span.arrow-right
						//LIST BLOCK
						.specifications__list-block
							p.specifications__list-title Применяемые материалы 
							ul.dotted-list
								li
									p.list__name Нож
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
								li
									p.list__name Щека
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
								li
									p.list__name Боковина
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
								li
									p.list__name Дно
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
								li
									p.list__name Накладка
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
								li
									p.list__name Футеровка дна
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
								li
									p.list__name Балка
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
								li
									p.list__name Проушина
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
								li
									p.list__name Пятка
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
								li
									p.list__name Футеровка боковины
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
								li
									p.list__name Коронка
									span.line-bwn
									p.list__val S690QL
									span.line-fix
									p.list__val 140 мм
						//IMAGE
						.characteristics-img
							img(src="./img/specificate.webp", srcset="./img/specificate@2x.webp 2x"  width="551" height="373" alt="img")

				#tab_3.tabs-body
					.specifications__desk
						.title-24 Доставка 
						p Песок - один из самых востребованных строительных материалов. Используется для приготовления строительных растворов, сухих строительных смесей, а также в качестве выравнивающего основания.
						p Подходит как для внутренних, так и для наружных работ. Применяется в строительстве и отделочных работах, возведении дорог и ландшафтном обустройстве. Продается в мешках весом 30 кг. Произведен в России.
						p
							strong Внимание! Товар весом более 1 тонны. необходимо перемещать минимум двумя людьми или с помощью механизированного оборудования. 
				
				#tab_3.tabs-body
					.specifications__desk
						.title-24 Документы
						p Песок - один из самых востребованных строительных материалов. Используется для приготовления строительных растворов, сухих строительных смесей, а также в качестве выравнивающего основания.	
						//DOCUMENTS
						.documents-wrapper
							a(href="./img/docs/doc.webp" data-fancybox="gallery").document-item
								img(src="./img/docs/doc-thumb.webp", alt="img" width="159" height="220")
							a(href="./img/docs/doc.webp" data-fancybox="gallery").document-item
								img(src="./img/docs/doc-thumb.webp", alt="img" width="159" height="220")
							a(href="./img/docs/doc.webp" data-fancybox="gallery").document-item
								img(src="./img/docs/doc-thumb.webp", alt="img" width="159" height="220")
							a(href="./img/docs/doc.webp" data-fancybox="gallery").document-item
								img(src="./img/docs/doc-thumb.webp", alt="img" width="159" height="220")
				#tab_4.tabs-body
					.specifications__desk
						.title-24 Документы
						p Песок - один из самых востребованных строительных материалов. Используется для приготовления строительных растворов, сухих строительных смесей, а также в качестве выравнивающего основания.	
						//DOCUMENTS
						.documents-wrapper
							a(href="./img/docs/doc.webp" data-fancybox="gallery").document-item
								img(src="./img/docs/doc-thumb.webp", alt="img" width="159" height="220")
							a(href="./img/docs/doc.webp" data-fancybox="gallery").document-item
								img(src="./img/docs/doc-thumb.webp", alt="img" width="159" height="220")
							a(href="./img/docs/doc.webp" data-fancybox="gallery").document-item
								img(src="./img/docs/doc-thumb.webp", alt="img" width="159" height="220")
							a(href="./img/docs/doc.webp" data-fancybox="gallery").document-item
								img(src="./img/docs/doc-thumb.webp", alt="img" width="159" height="220")
			
			//DESCRIP TEXT
			.information-article
				h2.title-24 О компании 
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве 
				p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве 
			
			include ../sections/_review-swiper
			
			
			//CARDS SLIDER
			.article-slider
				.header-group
					p.title-24 Товары которые вам могут понравиться 
					a(href="#!").flex-link.txt-16 Показать больше
						span.arrow-right
				
				.reccomend-products.swiper
					.swiper-wrapper
						.swiper-slide
							+product-card-ui(5,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(6,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(7,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(8,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(5,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(6,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(7,'ЩПС С2 фракции', '0-20 мм', 2300)
						.swiper-slide
							+product-card-ui(8,'ЩПС С2 фракции', '0-20 мм', 2300)
					
					.mySwiper-pagination

			//DISCONT SLIDER
			.discont
				.header-group
					h2.title-24 Акции
					a(href="#!").flex-link.txt-16 Показать больше
						span.arrow-right
				.discont-slider.swiper
					.swiper-wrapper
						.swiper-slide
							.discont-card
								.discont-card__body(style="background-image:url(./img/sale-card1.webp)")
									.txt-20 ЭКСКАВАТОР ФРОНТАЛЬНЫЙ
									p при заказе в паре с самосвалом
									.discont-card__price 
										span 2950 руб/ч
								
								button.btn-grey оставить заявку
						.swiper-slide
							.discont-card
								.discont-card__body(style="background-image:url(./img/sale-card2.webp)")
									.txt-20 ДОРОЖНЫЙ ГРУНТОВОЙ КАТОК ВИБРАЦИОННЫЙ 12-14 ТОНН
									p только этой осенью
									.discont-card__price 
										span 2950 руб/ч 
										span.old-price  вместо 3300 руб/ч
								
								button.btn-grey оставить заявку
						
						.swiper-slide
							.discont-card
								.discont-card__body(style="background-image:url(./img/sale-card1.webp)")
									.txt-20 ЭКСКАВАТОР ФРОНТАЛЬНЫЙ
									p при заказе в паре с самосвалом
									.discont-card__price 
										span 2950 руб/ч
								
								button.btn-grey оставить заявку
						
						.swiper-slide
							.discont-card
								.discont-card__body(style="background-image:url(./img/sale-card1.webp)")
									.txt-20 ЭКСКАВАТОР ФРОНТАЛЬНЫЙ
									p при заказе в паре с самосвалом
									.discont-card__price 
										span 2950 руб/ч
								
								button.btn-grey оставить заявку
						.swiper-slide
							.discont-card
								.discont-card__body(style="background-image:url(./img/sale-card2.webp)")
									.txt-20 ДОРОЖНЫЙ ГРУНТОВОЙ КАТОК ВИБРАЦИОННЫЙ 12-14 ТОНН
									p только этой осенью
									.discont-card__price 
										span 2950 руб/ч 
										span.old-price  вместо 3300 руб/ч
								
								button.btn-grey оставить заявку
					
					.mySwiper-pagination
			//PAGE ORDER FORM
			.page-order-form
				h2.title-24.center-txt Расчитать стоимость 
				form.order-form
					// выбранный товар + выбор дополнительный товара
					
					.select-products-form
						//один товар + даты
						.add-product-group.flex
							.form-dropdown.dropdown
								button.dropdown__button(type="button") Речной песок
								
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="select") Выбрать
										li.dropdown__list-item(data-value="Речной песок") Речной песок
										li.dropdown__list-item(data-value="Щебень") Щебень
										li.dropdown__list-item(data-value="Продукт 1") Продукт 1
										li.dropdown__list-item(data-value="Продукт 2") Продукт 2
										li.dropdown__list-item(data-value="Продукт 3") Продукт 3
										li.dropdown__list-item(data-value="Продукт 4") Продукт 4
							
								// в этот скрытый инпут в качестве value  выводится значение из data-value из.dropdown__list-item 
								input.dropdown__input-hidden(type="text", name="select_product")
							//диапазон дат
							.select-date
								.form-item
									input.start-date(type='text' name="startDay" )
								.form-item
									input.end-date(type='text' name="endtDay" )
						
						// кнопка выбрать еще
						button.add-product.add-product-btn
							span.button-icon
								svg.svg-plus
									use(href='../img/sprite.svg#svg-plus')
							| Добавить еще товар

					//USER DATA
					.form-item
						input(type="text" placeholder="Адрес *")
					.form-row
						.form-item
							input(type="text" placeholder="Имя *")
						.form-item
							input(type="text" placeholder="Фамилия *")
					.form-item
						input(type="text" placeholder="Email *")
					.form-item
						input(type="text" placeholder="Телефон *")
					.form-item
						input(type="text" placeholder="Компания")
					.form-item
						textarea(placeholder="Примечания")
					//==== инпут загрузки файла с компьютера====
					.fileUpload-group
						label.fileUpload-label
							input.form-input.fileUploadInput(type="file")
							span.form-input-add +
							span.form-input-clear &ndash;
							span.fileUpload-name Приложить карточку предприятия 

					//КНОПКА ОТПРАВИТЬ
					button.btn-primary(type="submit") Рассчитать стоимость 
					p.agree-txt.center-txt Согласен с обработкой моих персональных данных в соответствии с #[a(href="#!") политикой конфиденциальности].<br> Поля, отмеченные *, являются обязательными для заполнения
		
		
		//SIDEBAR
		.aside
			.detailed-card
				.detailed-card__body.bx-sh
					.detailed-card-group
						span.detailed-art.txt-12 Код: 105703
						.detailed-title.txt-24 Ковши «Обратная лопата»
						.rating-block.flex
							.rating-stars
							span.txt-12 39 отзывов
					
						
					.detailed-card-group
						+counter
						.detailed-total
							span.txt-12 Стоимость
							p.amount 700 000 руб
							
					button.btn-primary В корзину
				
				.detailed-card__footer.bx-sh
					ul.dotted-list
						li
							p.list__name Наличие
							span.line-bwn
							p.list__val Много
						li
							p.list__name Доставка
							span.line-bwn
							p.list__val 24/7
						li
							p.list__name Способ получения
							span.line-bwn
							p.list__val Самовывоз, Доставка