section.product-assort
	.container
		.tabs-block.tabs-block--grid
			.tabs-nav.tabs-nav--center
				a.tabs-nav__item.active(href="#!" data-tab="all") Все
				a.tabs-nav__item(href="#!" data-tab="tab_2") Гранитный 
				a.tabs-nav__item(href="#!" data-tab="tab_3") Известняковый
				a.tabs-nav__item(href="#!" data-tab="tab_4") Базальтовый
				a.tabs-nav__item(href="#!" data-tab="tab_5") Песчаник 
				a.tabs-nav__item(href="#!" data-tab="tab_6") Шлаковый
				a.tabs-nav__item(href="#!" data-tab="tab_7") Сланцевый
				a.tabs-nav__item(href="#!" data-tab="tab_8") Керамзитовый  
				a.tabs-nav__item(href="#!" data-tab="tab_9") Черный  
				a.tabs-nav__item(href="#!" data-tab="tab_10") Вторичный  
				a.tabs-nav__item(href="#!" data-tab="tab_11") Строительный 
				a.tabs-nav__item(href="#!" data-tab="tab_12") стротельство
			// SINGLE  TAB CONTENT
			#all.tabs-body.active
				+product-card(7,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				+product-card(7,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				+product-card(7,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				+product-card(7,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				+product-card(7,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				+product-card(7,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				+product-card(7,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				+product-card(7,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
			#tab_2.tabs-body.active
				+product-card(6,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				+product-card(6,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				+product-card(6,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				+product-card(6,'ЩПС С2 фракции фракции, все очень хвалят и рекомендуют', '0-20 мм', 2300)
				