section.promo.promo--inner
	.container
		.promo-top
			+breadcrumbs('Каталог')
			+city-block

		.promo-content.center-txt
			h1.h1 Строительные<br>материалы
section.main-categories
	.container
		.main-categories-cards.three-columns
			+category-card(2, 'Песок', 'Эфельный', 'Намывной', 'Карьерный', 'Речной','Вторичный')

			+category-card(1, 'Щебень', 'Гранитный', 'Известняковый', 'Базальтовый', 'Шлаковый','Песчаник', 'Сланцевый', 'Строительный','Керамзитовый', 'Черный', 'Вторичный' )

			+category-card(3, 'Бетон', 'Готовый бетон', 'Бетонные смеси', ' Гидротехнический', 'Бетон для покрытий','Специальный бетон', 'Стандартный')

			+category-card(1, 'Бетонные материалы', 'Бетонные блоки', 'Бордюры', 'Плитка', 'Керамзитобетонные','Пазогребневые','Сполистеролобетоные', 'Пенобетонные','Газобетонные','Газосиликатные')

			+category-card(5, 'Пластмасса', 'PET (PETE)', 'ПЭТ', 'ПЭТФ', 'PVC','ПВХ', 'PEHD или HDPE', 'ПЭНД', 'LDPE или PELD', 'ПЭВД', 'PP', 'ПП','PS', 'ПС OTHER или O', 'Прочие')
			+category-card(5, 'Строительное оборудование', 'PET (PETE)', 'ПЭТ', 'ПЭТФ', 'PVC','ПВХ', 'PEHD или HDPE', 'ПЭНД', 'LDPE или PELD', 'ПЭВД', 'PP', 'ПП','PS', 'ПС OTHER или O', 'Прочие')
			