// PROMO
section.promo.promo-dark.promo--gradient(style="background-image: url(./img/suppliers-promo.webp)")
	.container
		.promo-top
			+breadcrumbs('Поставщикам')
			
		.promo-content
			h1.h1 Стать нашим<br>поставщиком 
				
			.promo-txt
				p Мы строим объекты любой сложности под ключ, гарантируя качество, соблюдение сроков и бюджета. Наша команда профессионалов обеспечит полный цикл работ – от проектирования до ввода в эксплуатацию, с учетом всех ваших пожеланий.
			a(href="#!").btn.btn--white.sm-100 Позвонить нам 


section.building-materials
	.container.container--column
		
		//FOR MOB VERSION
		.description-block-mobile(style="background-image: url(./img/block0_bg.webp)")
			.description-block__text
				h2.h2 Отделочные и строительные материалы 
				p У нас вы можете приобрести любые строительные и отделочные материалы — от сыпучих смесей и щебня до плитки и декоративных покрытий, с быстрой доставкой прямо на ваш объект, независимо от объема заказа.
				a(href="#!").btn-square
					span.arrow-right
		
		//FOR MOB VERSION
		.description-block-mobile(style="background-image: url(./img/block2_bg.webp)")
			.description-block__text
				h2.h2 Отделочные и строительные материалы 
				p У нас вы можете приобрести любые строительные и отделочные материалы — от сыпучих смесей и щебня до плитки и декоративных покрытий, с быстрой доставкой прямо на ваш объект, независимо от объема заказа.
				a(href="#!").btn-square
					span.arrow-right
		
		//FOR MOB VERSION
		.description-block-mobile(style="background-image: url(./img/block1_bg.webp)")
			.description-block__text
				h2.h2 Аренда<br>спецтехники
				p Возьмите любую спецтехнику в аренду в СПБ на срок от 3-х смен и получите скидку 5%. Торопитесь, срок действия акции ограничен!
				a(href="#!").btn-square
					span.arrow-right
