@use "base/var" as *;
/*.breadcrumbs*/
.breadcrumbs , .post-card__tags>, .promo-content__tags>, .portfolio-card> {
	a, span{
		display: inline-block;
		font-size: 14px;
		line-height: 1.43;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $text;
		transition: .3s; 
		&:hover{color: $accent!important;}
		&:first-child{padding-right: 7px;}
		&:last-child{
			padding-right: 0;
			cursor: default;
		

		}
		
	 .svg-logo{
		width: 68px;
		height: 10px;
		color: inherit!important;}
		@media (max-width: 1279px) {
		font-size: 12px;
		.svg-logo{width: 61px; height:10px;}
		}
		
	}
	a:last-child{
		text-decoration: underline;
		text-decoration-skip-ink: none;
	}
	a+a, span+span{
		padding-left: 8px;
		padding-right: 8px;
		position: relative;
		&:before{
			content: '/';
			position: absolute;
			left: -1px;
			top: 0px;
		}
		@media (max-width: 767px) {
			letter-spacing: 0.05em;
		}
	}
}
.portfolio-card>span, .promo-content__tags>span, .post-card__tags>span:hover{color: $text;}
.breadcrumbs{
	@media (max-width: 767px) {
	  display: flex;
	  width: calc(50% + 50vw);
	  overflow: hidden;
	  overflow-x: auto;
	  scrollbar-width: none;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  &::-webkit-scrollbar{
		display: none;
	  }
	 
	  &>*{white-space: nowrap;}
	}
}