@use "base/var" as *;
/*.breadcrumbs*/
.breadcrumbs{
	a{
		display: inline-block;
		font-size: 14px;
		line-height: 1.43;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $text;
		transition: .3s; 
		&:hover{color: $accent!important;}
		&:first-child{padding-right: 7px;}
		&:last-child{
			padding-right: 0;
			cursor: default;
			// &:hover{color: #838494!important;}
		}
	 .svg-logo{
		width: 68px;
		height: 10px;
		color: inherit!important;}
	}
	
	a+a{
		padding-left: 8px;
		padding-right: 8px;
		position: relative;
		&:before{
			content: '/';
			position: absolute;
			left: -1px;
			top: 0px;
		}
	}
}