@use "base/var" as *;

.btn, .btn-outline, .btn-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: 2.6em;
	padding: 0;
	padding-inline: 1.5em;
	white-space: nowrap;
	font-size: 20px;
	font-weight: 700;
	color: $text;
	border: 1px solid currentColor;
    border-radius: 8px;
	cursor:pointer;
	transition: .3s;
	@media (max-width: 1699px) {
		font-size: 18px;
	}
}
.btn:hover{color: $accent;}
.btn.btn--white{
	background-color: #fff;
	border: 1px solid #fff;
	&:hover{
		background-color: $accent;
	   border: 1px solid $accent;
	   color: #fff;
	}
}
.btn.btn--accent{
	color: $accent;
	&:hover{
		border: 1px solid  $text;
		background-color: #fff;
		color:  $text;
	}
}
.dark-bg .btn.btn--accent:hover{
	border: 1px solid  #fff;
	background-color: transparent;
	color:  #fff;
}
.btn-outline{
	color: white;
	&:hover{color:  $accent; border: 1px solid $accent;}
}
.btn-primary{
	border: 1px solid $accent;
	background-color: $accent;
	color: white;
	&:hover{
		
		background-color: #fff;
		color:   $accent;
	}
}
