@use "base/var" as *;
.svg-logo, .svg-search, .svg-cart, .logo-group, .svg-carret,.svg-plus{
	display: inline-block;
	width: 145px;
	height: 20px;
	object-fit: contain;
	color: #2B2A29;
}
.logo-group{
	width: 146px;
	height: auto;
	aspect-ratio: 146/35;
	color: white;
}
.svg-search, .svg-cart{
	width: 15px;
	height: 16px;
	color: white;
}
.svg-carret{
	width: 17px;
	height: 10px;
}
.svg-plus{
	width: 17px;
	height: 16px;
}
.arrow-left, .arrow-right{
	width: 48px;
	height: 12px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor:pointer;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='13' viewBox='0 0 48 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 6.72314L10 12.4966V0.949642L0 6.72314ZM9 7.72314L48 7.72314V5.72314L9 5.72314V7.72314Z' fill='%231C1C1C' /%3e%3c/svg%3e");
	transition: .3s; 
	&:hover{
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='13' viewBox='0 0 48 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 6.72314L10 12.4966V0.949642L0 6.72314ZM9 7.72314L48 7.72314V5.72314L9 5.72314V7.72314Z' fill='%23FD8C09' /%3e%3c/svg%3e");
	}
}
.arrow-right{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='12' viewBox='0 0 48 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M48 6L38 0.226495L38 11.7735L48 6ZM39 5L1.99002e-07 4.99999L-1.99002e-07 6.99999L39 7L39 5Z' fill='%231C1C1C' /%3e%3c/svg%3e");
	&:hover{
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='12' viewBox='0 0 48 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M48 6L38 0.226495L38 11.7735L48 6ZM39 5L1.99002e-07 4.99999L-1.99002e-07 6.99999L39 7L39 5Z' fill='%23FD8C09' /%3e%3c/svg%3e");
	}
}
