@use "base/var" as *;
.h2{
	font-family:$fs;
	font-weight: 400;
	font-size: 50px;
	margin-bottom: 1em;
	line-height: 100%;
}
.accent-txt{
	color: $accent!important;
}
.flex-link{
	font-weight: 700;
	font-size: 20px;
	line-height: 110%;
	color: $text;
	display: inline-flex;
	align-items: center;
	column-gap: 10px;
	transition: .3s; 
	svg{
		flex-shrink: 0;
		color: inherit;
	}
}