@use "base/var" as *;
h1, h2,h3{font-weight: 400;}
.h1{
	font-family:$fs;
	font-size: 80px;
	line-height: .9;
	letter-spacing: -0.02em;
	color: #f5f5f5;
	@media (max-width: 1699px) {
		font-size: 60px;
	}
	@media (max-width: 1199px) {
		font-size: 40px;
	}
	@media (max-width: 767px) {
		font-size: 34px;
	}
}
.h2{
	font-family:$fs;
	
	font-size: 50px;
	margin-bottom: 1em;
	line-height: 100%;
	@media (max-width: 1439px) {
		font-size: 42px;
	}
	@media (max-width: 1199px) {
		font-size: 34px;
	}
	@media (max-width: 767px) {
		font-size: 30px;
	}
}
.h3{
	font-family:$fs;
	font-size: 40px;
    line-height: 1.07;
    letter-spacing: -0.01em;
	@media (max-width: 767px) {
		font-size: 24px;
	}
}
.h4{
	font-family:$fs;
	font-size: 30px;
    line-height: 1;
    letter-spacing: -0.01em;
	@media (max-width: 767px) {
		font-size: 24px;
	}
}
.txt-20 {
	font-size: 20px;
}
.txt-24{
	font-size: 24px;
	letter-spacing: -0.02em;
}
.accent-txt{
	color: $accent!important;
}
.white-txt{color: white;}
.bold-txt{font-weight: 700;}
.flex-link{
	font-weight: 700;
	font-size: 20px;
	line-height: 110%;
	color: $text;
	display: inline-flex;
	align-items: center;
	column-gap: 10px;
	transition: .3s; 
	transition: .3s; 
	white-space: nowrap;
	svg{
		flex-shrink: 0;
		color: inherit;
		
	}
	&:hover{
		color: $accent!important;
		
	}
}
.dark-bg{
	background-color: $dark;
	padding-block: 50px;
	@media (max-width: 767px) {
		padding-block: 40px;
	}
}
