@use "base/var" as *;
h1, h2,h3{font-weight: 400;}
.h1{
	font-family:$fs;
	font-size: 80px;
	line-height: .9;
	letter-spacing: -0.02em;
	color: #f5f5f5;
	@media (max-width: 1699px) {
		font-size: 60px;
	}
	@media (max-width: 1199px) {
		font-size: 40px;
	}
	@media (max-width: 767px) {
		font-size: 34px;
	}
}
.h2{
	font-family:$fs;
	
	font-size: 50px;
	margin-bottom: 1em;
	line-height: 100%;
	@media (max-width: 1439px) {
		font-size: 42px;
	}
	@media (max-width: 1199px) {
		font-size: 34px;
	}
	@media (max-width: 767px) {
		font-size: 30px;
	}
}
.h3{
	font-family:$fs;
	font-size: 40px;
    line-height: 1.07;
    letter-spacing: -0.01em;
	margin-bottom: 1em;
	@media (max-width: 767px) {
		font-size: 24px;
	}
}
.dark-bg .h3{color: white;}
.h4{
	font-family:$fs;
	font-size: 30px;
    line-height: 1;
    letter-spacing: -0.01em;
	@media (max-width: 767px) {
		font-size: 24px;
	}
}
.txt-20 {
	font-size: 20px;
}
.txt-24, .title-24{
	font-size: 24px;
	letter-spacing: -0.02em;
}
.title-24{font-family: $fs; margin-bottom: 20px;}
.txt-16{
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: -0.02em;
	color: #2b2a29;
}
.txt-12{
	font-weight: 400;
	font-size: 12px;
}
.accent-txt{
	color: $accent!important;
}
.preview-text{
	font-size: 20px;
	@media (max-width: 1279px) {
		font-size: 16px;
	}
}
.white-txt, .white-txt *{color: white!important;}
.bold-txt{font-weight: 700;}
.center-txt{text-align: center;}
.flex-link{
	font-weight: 700;
	font-size: 20px;
	line-height: 110%;
	color: $text;
	display: inline-flex;
	align-items: center;
	column-gap: 10px;
	transition: .3s; 
	transition: .3s; 
	white-space: nowrap;
	svg{
		flex-shrink: 0;
		color: inherit;
		
	}
	&:hover{
		color: $accent!important;
		
	}
}

.dark-bg{
	background-color: $dark;
	padding-block: 50px;
	@media (max-width: 767px) {
		padding-block: 40px;
	}
}
.custom-text{
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 27px;
	a{
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: #fd8c09;
		transition: .3s; 
		&:hover{
			opacity: .7;
		}
	}
	h2 {
		font-family: $fs;
		font-weight: 400;
		font-size: 36px;
		line-height: 1.25;
		letter-spacing: -0.01em;
		text-transform: uppercase;
		color: #2b2a29;
		margin-top: 27px;
	}
	p{
		font-size: 18px;
		line-height: 1.22;
		letter-spacing: -0.02em;
		color: #2b2a29;
	}
	img{
		border-radius: 10px;
		display: block;
		width: 100%;
		aspect-ratio: 1122/441;
		object-fit: cover;
	}
	ol{
		list-style-type: none; 
	   counter-reset: num;
	   li{
		   position: relative;	
		   font-weight: 600;
		   font-size: 18px;
		   line-height: 1.44;
		   letter-spacing: -0.02em;
		  display: flex;
		  column-gap:10px;
		}
		li:before {
			content: counter(num) '.'; 
			counter-increment: num;
			// display: inline-block;	
			position: relative;
			top: 1px;
			
			
			color: inherit;
			
			
		}

	   }
	
	}
.dark-list{
	border-radius: 10px;
	background-color: $dark;
	padding: 30px;
	width: 100%;
	color: white!important;
	p, &>*first-child{
		font-weight: 600;
		font-size: 24px;
		line-height: .92;
		letter-spacing: -0.02em;
		color: white!important;
	}
	&>ul>li{
		font-weight: 600;
		font-size: 18px;
		line-height: 144%;
		letter-spacing: -0.02em;
		position: relative;
		display: flex;
		column-gap:10px;
		&:before{
			content: '';
			display: block;width: 5px;height: 5px;background-color: currentColor;
		position: relative; border-radius: 50%; flex-shrink:0;
		top:7px;		}
	}
	&>*+ul{
		margin-top: 20px;
	}
}
.bx-sh{
	padding: 20px;
	box-shadow: 0 0 22px 0 rgba(154, 152, 152, 0.1);
    border-radius: 10px;
	background-color: #fff;
}
.dotted-list, .detailed-list{
	li{
		display: flex;
		column-gap:10px;
		justify-content: space-between;
		span.line-bwn{
			border-bottom: 1px solid  rgba(34, 34, 34, 0.1);
			flex-grow: 1;
		}
		padding-top: 7px;padding-bottom: 7px;
	}
	.list__name,.list__val{
		font-size: 16px;
		line-height: 1.19;
		color: #222;
		flex-shrink: 0;
	}
	.list__val{font-weight: 700;}
}

.detailed-list li+li{
	border-top: 1px solid #ccc;
}
.information-article{
	@media (max-width: 1919px) {
		font-size: 16px;
	}
}