//- ===== colors ======
$main-accent: #2dbfca;
$bg-black: #151515;
$text-dark: #101724;
$white: #fff;
$black: #282828;
$light-grey: #e5e5e5;
$light-blue: #e3f5f7;
$blue-secondary: #23aeb8;
$dark-grey: #596464;
$dark-blue: #f0f3f9;
$light-yellow: #fffde2;
$light-green: #edf8f4;
$dark-grey-inactive: rgba(89, 100, 100, 0.5);
$font-family: "Inter",  sans-serif;
$second-family: "Roboto",  sans-serif;

// :root {
// 	--main-accent: #2dbfca;
// 	--white: #fff;
// 	--black: #000;
// 	--light-grey: #e5e5e5;
// 	--light-blue: #e3f5f7;
// 	--blue-secondary: #23aeb8;
// 	--dark-grey-inactive: rgba(89, 100, 100, 0.5);
// 	--light-black-inactive: #282828;
// 	--dark-blue: #f0f3f9;
// 	--white-inactive: rgba(255, 255, 255, 0.5);
// 	--background-shadow: rgba(0, 0, 0, 0.3);
// 	--borders: #f4f4f4;
// 	--red: #ca2d2d;
// 	--light-yellow: #fffde2;
// 	--light-green: #edf8f4;
// 	--forms-transparent: rgba(255, 255, 255, 0.1);
// 	--background-shadow-darker: rgba(0, 0, 0, 0.6);
// }
