
@use "../base/var" as *;
.rent-assort{
	.tabs-block .tabs-body.active{
		display: flex;
		flex-wrap: wrap;
		gap:20px;
		&>*{flex-shrink: 0;
			@media (max-width: 1023px) {width: calc((100% - 20px)/2)}
			@media (max-width: 1199px) {width: calc((100% - 40px)/3)}
			@media (max-width: 767px) {
			   width: 100%;
			}

		}
		
	}
}
.rent-assort.rent-assort--mobile{padding-top: 0;}

.documents-wrapper{
	display: flex;
	flex-wrap: wrap-reverse;
	gap:20px 10px;
	.document-item{
		width: 159px;
		height: 220px;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
		width: 159px;
		height: 220px;
		object-fit: contain;
		}
	}
}
.product-preview__img{
	background-color: #EDEDED;
	border-radius: 10px;
	aspect-ratio:551/350;
	overflow: hidden;
}