.rent-categories-list{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap:20px;
	&>*{grid-column: span 3;}
	@media (max-width: 1279px) {
		&>*{grid-column: span 4;}
	}
	@media (max-width: 767px) {
		display: flex;
		width: calc(50% + 50vw);
		overflow: hidden;
		overflow-x: auto;
		scrollbar-width: none;
		&::-webkit-scrollbar{display: none;}
		padding: 10px;
		margin-left: -10px;
		column-gap:8px;
	}
}