@use "../base/var" as *;
.specifications{
	font-size: 16px;
	column-gap: 20px;
	&__list-title{
		font-weight: 700;
		font-size: 20px;
		line-height: 1.2;
		text-transform: capitalize;
		color: #222;
	}
	@media (max-width: 1439px) {
		font-size: 14px;
		&__list-title{font-size: 16px;}
	}
}
.specifications__desk{
	flex: 1;
	padding-right: 44px;
	@media (max-width: 1439px) {
		padding-right: 24px;
	}
}
.specifications__list, .specifications__desk, .specifications__list-block{
	display: flex;
	flex-direction: column;
	row-gap:20px;
	&>*{width: 100%; margin-bottom: 0;}
	@media (max-width: 1439px) {
		row-gap:10px;
	}
}
.specifications-tabs.tabs-block{
	.tabs-nav{
		width: 100%;
		
		column-gap: 10px;
	}
	.tabs-nav__item{
		flex:1;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 2px solid #222;
		&.active{
			border-bottom: 2px solid $accent;
		}
	}
	.tabs-body.active{
		display: block;
	}
}
.specifications-characteristics.two-columns{
	row-gap:40px;
	img{
		aspect-ratio:551/372;
		object-fit: contain;
	}
}
.specifications p,.specifications__list-block .dotted-list li, .specifications__list-block p{
	font-size: 16px;
}