@use "../base/var" as *;
.specifications-acordion{
	display: none;
	@media (max-width: 1023px) {
		display: block;
	}
}
// .accordion__item {
// 	margin: 5px auto;
// }
.accordion__item .accordion__title {
	position: relative;
	display: block;
	padding-block:16px;
	font-size: 16px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #1c1c1c;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
    cursor: pointer;
	border-bottom:  1px solid #1c1c1c;
}
.accordion__item .accordion__title:hover {
	transition: all 0.5s ease-out;
}

.accordion__item .accordion__title .accordion__arrow {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	 right: 10px;
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	text-align: center;
	
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	.svg-carret{
		width: 12px;
	}
}
.accordion__item .accordion__arrow.accordion__rotate {
	transform: translateY(-50%) rotate(-180deg);
}
.accordion__item .accordion__content {
	padding-block: 16px;
	
	font-size: 16px;
	display: none;
	
}
.accordion-list{
	.accordion__title {font-size: 16px; text-transform: unset;}
	&__row{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 10px;
		text-align: center;
		font-weight: 400;
		font-size: 14px;
		letter-spacing: -0.03em;
		text-transform: capitalize;
		color: #1c1c1c;
	}
	&__cell span{
		font-weight: 700;
		font-size: 13px;
		margin-bottom: 6px;
		display: inline-block;
	}
	.counter{
			button{
			background-size: 12px 12px;
			width: 30px;
		}
		.counter-value{font-size: 13px; min-width:40px;padding-inline:0;}
	}
}
.accordion-group{
	.title-24-fix{
		border-bottom:1px solid #1c1c1c;
		padding-bottom: 16px;
		font-weight: 400;
	}
}
						