@use "../base/var" as *;

.detailed-card{
	&>*+*{margin-top: 20px;}
	.detailed-title{font-family: $fs;}
	&__body{
		display: flex;
		flex-direction: column;
		row-gap:25px;
		&>*+*{width: 100%;}
	}
	&-group{&>*+*{margin-top: 10px;}}
	.amount{
		font-weight: 800;
		font-size: 24px;
		letter-spacing: -0.02em;
		color: #222;
		@media (max-width: 1439px) {
			font-size: 20px;
		}
	}
	&__row.flex{
		justify-content: space-between; column-gap:20px;
		
		
	}
	.order-list-total{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		border-top: 1px solid #2b2a29;
		font-weight: 800;
		font-size: 20px;
		letter-spacing: -0.02em;
		text-transform: capitalize;
		color: #2b2a29;
		padding-top: 7px;
		padding-bottom: 7px;
	}
}
.rating-block{column-gap:10px;}
	
.rating-stars{
	width: 86px;
	height: 13px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='86' height='13' viewBox='0 0 86 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 0L8.652 4.98105L14 4.96053L9.667 8.01895L11.333 13L7 9.90737L2.681 13L4.333 8.01895L0 4.96053L5.362 4.98105L7 0Z' fill='%23FFB700' /%3e%3cpath d='M25 0L26.652 4.98105L32 4.96053L27.667 8.01895L29.333 13L25 9.90737L20.681 13L22.333 8.01895L18 4.96053L23.362 4.98105L25 0Z' fill='%23FFB700' /%3e%3cpath d='M43 0L44.652 4.98105L50 4.96053L45.667 8.01895L47.333 13L43 9.90737L38.681 13L40.333 8.01895L36 4.96053L41.362 4.98105L43 0Z' fill='%23FFB700' /%3e%3cpath d='M61 0L62.652 4.98105L68 4.96053L63.667 8.01895L65.333 13L61 9.90737L56.681 13L58.333 8.01895L54 4.96053L59.362 4.98105L61 0Z' fill='%23FFB700' /%3e%3cpath d='M79 0L80.652 4.98105L86 4.96053L81.667 8.01895L83.333 13L79 9.90737L74.681 13L76.333 8.01895L72 4.96053L77.362 4.98105L79 0Z' fill='%23FFB700' /%3e%3c/svg%3e");
	background-size: contain;
}

.price-block{
	display: flex;
	column-gap: 20px;
	justify-content: space-between;
	&__item{
		flex:1;
		font-size: 16px;
		letter-spacing: -0.02em;
		color: #222;font-weight: 800;
	}
}

.aside .detailed-card{
	position: sticky;
	top: 80px;
	
}