@use "../base/var" as *;
.category-card{
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	&__img{
		width: 100%;
		// height: 321px;
		padding: 20px;
		flex-shrink: 0;
		overflow: hidden;
		background-color: #EDEDED;
		aspect-ratio: 551 / 321;
	}
	&__body{
		padding: 25px 40px;
		text-align: center;
		@media (max-width: 1439px) {
			padding: 16px 8px;
		}
	}
	&__title{
		font-weight: 700;
		font-size: 28px;
		line-height: 114%;
		letter-spacing: -0.01em;
		text-align: center;
		color: #1c1c1c;
		margin-bottom: 30px;
		@media (max-width: 1439px) {
			font-size: 24px;
		}
	}
	&__img, &__links{
		display: flex;
		text-align: center;
		justify-content: center;
	}
	&__links{
		
		flex-wrap: wrap;
		column-gap:22px;
		row-gap:6px;
	}
	a{
		font-weight: 400;
		font-size: 20px;
		letter-spacing: -0.02em;
		color: #1c1c1c;
		transition: .3s; 
		white-space: nowrap;
		transition: .3s; 
		&:hover{
			color: $accent;
		}
		@media (max-width: 1439px) {
			font-size: 17px;
		}
	}
}
.main-categories-cards{
	
	.category-card:first-child .category-card__links{
		max-width: 425px;
		margin-inline: auto;
	}
}

