@use "../base/var" as *;
.flatpickr-calendar{
   border: 0;
	box-shadow: 0 0 22px 0 rgba(154, 152, 152, 0.1);
	
	background-color: #fff;
	border-radius: 8px;
}
.flatpickr-weekdays,.flatpickr-months{padding: 14px 14px 7px;}
.flatpickr-weekdays{padding-top: 7px;}
.dayContainer{

	padding: 14px;
	
	// box-sizing:border-box;
	
}
.flatpickr-current-month .flatpickr-monthDropdown-months, span.flatpickr-weekday {
	border: 0;
	background-color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.43;
	letter-spacing: -0.03em;
	color: #222;
}
.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus{
	transition: .3s; 
	&:hover{
		background-color: $accent!important;
		border-radius: 0;
		// border: 0;
		color: white!important;
	}
}
.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
    color: rgba(57, 57, 57, 0.5);
	pointer-events: none;
}
.flatpickr-day {
    background: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #222;
    cursor: pointer;
	font-weight: 600;
	font-size: 16px;
    width: 38px;
    max-width: 39px;
	line-height: 1.43;
    height: 23px;
    line-height: 21px;
    margin: 1px;
    display: inline-block;
    position: relative;
	padding-right: 3px;
	
    text-align: right;
}
.flatpickr-day.today{
	border:0;
	background-color: #e9e9e9;
}
.flatpickr-day.selected.startRange, .flatpickr-day.inRange, .flatpickr-day.endRange.endRange{
	background-color: $accent!important;
	border-radius: 0;
	border: 0;
	color: white!important;
	box-shadow: -5px 0 0 white, 5px 0 0 white!important;
}
.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month{
	padding: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: $accent;
	fill: white;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	top:24px;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month{left:15px}
.flatpickr-months .flatpickr-next-month.flatpickr-next-month{right:15px}

.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg{
	width: 13px;
	height: 14px;
	fill: white;
	color: white;
}


.flatpickr-month .numInputWrapper {
    display: none; /* Скрыть год */
}

.select-date{
	display: flex;
	column-gap: 13px;
	
 	.form-item input{
		font-weight: 600;
		font-size: 16px;
		line-height: 125%;
		color: #222;
		border-radius: 8px;
		padding: 8px 16px;
		width: 159px;
		height: 36px;
		background: #f6f5f5;
		border-color: #f6f5f5;
 	}
	 .form-item:after{
		content:'';
		position: absolute;
		right: 16px;
		top: 50%;
		width: 14px;
		height: 14px;
		display: block;
		transform: translateY(-50%);
		z-index: 2;
		cursor: pointer;
		pointer-events: none;
		background-image: url('../img/calendar.webp');
		background-size: 14px 14px;
	 }
}
.add-product-group{
	column-gap:16px;
	.dropdown{flex-grow: 1;}
}
.add-product-btn{
	display: flex;
	align-items: center;
	column-gap:16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: -0.02em;
	color: #222;
	transition: .3s; 
	&:hover{opacity: 0.7;}
}
.select-products-form{
	&>*+*{margin-top: 15px;}
}
.button-icon{
	width: 44px;
	height: 44px;
	border-radius: 8px;
	flex-shrink: 0;display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #f6f5f5;
}
.select-date.select-date--light{
	 align-items: center;
	 padding-left: 14px;
	 column-gap:0px;
	.form-item.select-date-end:after{display: none;}
	.form-item.select-date-start:after{
		right:auto;
		left:-14px;
	}
	.form-item input{
		background: white;
       border-color: white;
	   width: 95px;
	   padding: 5px;
	   padding-right: 5px;
	}
	
}
/*//datapicker*/
.order-form{
	display: flex;
	flex-direction: column;
	row-gap:15px;
	&>*{width: 100%;}
	textarea{height: 44px;}
	input{font-weight: 600;
	&::placeholder{font-weight: 400;}}
	.btn{
		width: fit-content;
		margin:0 auto;
		margin-top: 30px!important;
	}
}
.fileUpload-group{
	display: flex;
	column-gap: 10px;
	align-items: center;
	.fileUpload-label{
		height: 48px;
		padding: 12px;
		display: flex;
		position: relative;
		column-gap:12px;
		align-items: center;
		width: fit-content;
		border: 1px solid #e9e9e9;
		border-radius: 7px;
	}
	.fileUploadInput{
		border:0;
		background-color: transparent;
		height: auto;
		width: 0.01em;
		height: 0.01em;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}
	
	.fileUpload-name{
		font-weight: 600;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: -0.02em;
		color: rgba(34, 34, 34, .8);
	}
	.form-input-add, .form-input-clear{
		width: 24px;
		height: 24px;
		flex-shrink: 0;
		border-radius: 50%;
		border: 1px solid #e9e9e9;
		text-align: center;
		line-height: 22px;
		background-color: #fff;
		cursor:pointer;
		color: #c0c0c0;
		font-size: 20px;
		transition: .3s;
		padding-left: 1px;
		&:hover{
			color: #222;
		}
	}
	.form-input-clear{
		position: absolute;
		top: 12px;
		bottom: 12px;
		left: 12px;
		line-height: .9;
		z-index: -1;
		transition: .3s; 
		&.active{z-index: 2;}
	}
}