@use "../base/var" as *;
.description-block{
	display: flex;
	align-items: center;
	column-gap: 70px;
	
	&__img{
		flex-shrink: 0;
		width: 57%;
		aspect-ratio: 144/67;
		height: 411px;
		img{border-radius: 10px;}
		@media (max-width: 1649px) {
			width: 53%;
			height: 271px;
		}
	}
	@media (max-width: 767px) {
	display: none!important;
	}
}
.description-block__text>*+*{
	margin-top: 40px;
	@media (max-width: 1439px) {
		margin-top:26px;
	}

}
.description-block__text{
	@media (max-width: 1439px) {
		.h2{margin-bottom: 26px;}
		p{font-size: 13.33px;}
		
	}
}
.description-block__text> p+p{margin-top: 12px;}
.description-block__text> .h2+*{margin-top: 50px;}
.statistic{
	@media (max-width: 1439px) {
	padding-top: 20px;
	padding-bottom: 20px;
	}
}
.statistic-item{
	text-align: center;
	font-weight: 500;
	line-height: 1.3;
	color: #2b2a29;
	font-size: 20px;
	.accent-txt{
		font-size: 3em;
		font-weight: 600;
		font-family: $fs;
	}
	&>*+*{margin-top: 4px;}
	@media (max-width: 1439px) {
		.accent-txt {font-size: 2em;}
	}
	@media (max-width: 1199px) {
		font-size:16px;
		.accent-txt{font-size: 2em;}
	}
	@media (max-width: 767px) {
		.accent-txt{font-size: 49px;}
	}
	
}
.statistic-block.grid-border > *{
	@media (max-width: 767px) {grid-column: span 6;}
	&:before{display: none;}
}

@media (max-width: 1439px) {
	.description-block{column-gap: 35px;}
	.description-block__text>*+*,
	.description-block__text> .h2+*{
		margin-top: 30px;
	}
	
}
@media (max-width: 1199px) {
	.description-block__text>*+*,
	.description-block__text> .h2+*{
		margin-top: 20px;
	}
	.description-block__text> .h2{margin-bottom: 16px;}
	.description-block{column-gap: 20px;}
}
@media (max-width: 767px) {
	.description-block__text> .h2+*{
		margin-top: 16px;
		font-size: 14px;
        letter-spacing: -0.03em;
	}
	.description-block{
		flex-direction: column;
		gap: 20px;
		&__img, &>*{width: 100%;}
		
	}
}
.description-block-mobile{
	display: none;
	
	padding:22px 15px;
	background-color: #c4c4c4;
	background-size: cover;
	border-radius: 10px;
	height: 421px;
	position: relative;
	margin-top: 0!important;
	.h2, p{color: white;}
	.btn-square{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		z-index: 2;
		border-radius: 8px 0 0 8px;
		margin-top: 0!important;
	}
	@media (max-width: 767px) {
	   display: block;
	}
}