

/*FLIP*/
.flip-card{
	width: calc((100% - 60px) / 4);
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 22px 0 rgba(154, 152, 152, 0.1);
	display: flex;
	&__front {
		width: 100%;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		
		backface-visibility: hidden;
	    transition: all .3s ease;
		border-radius: 10px;
		background-color: #fff;
		&>*{width: 100%;}
		.flip-card__img{
			width: 100%;
			aspect-ratio:372/233;
			overflow: hidden;
			flex-shrink: 0;
			background-color: #EDEDED;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px 10px 0 0;
		}
		.price-block__item{
			text-align: center; 
			
			@media(min-width:1599px){font-size: 20px;}
		}
		.flip-card__desk{flex-grow: 1;}
		.flip-card__btn{
			padding: 0 20px 25px;
			text-align: center;
			display: flex;
			justify-content: center;
		}
		.detailed-card__row.flex{column-gap:14px}
	}
	&__title{
		text-align: center;
		.availabel{text-align: center;}
		
	}
	&__desk{
		padding: 25px 20px;
		display: flex;
		flex-direction: column;
		row-gap:15px;
		text-align: center;
		&>*{width: 100%;}
		li+li{margin-top: 2px;}
	}
	
 	&__back {
		background-color: #fff;
	   flex-shrink: 0;
	   width: 100%;
	   transition: all .3s ease;
	  padding:20px;
	  li+li{margin-top: 2px;}
	  .detailed-card{
		display: flex;
		flex-direction: column;
		height: 100%;
		&>*{width: 100%;}
	  }
	  .detailed-card__footer{
		padding-top:15px;
		margin-top: auto;
		&>*{width: 100%;}
		&>*+*{margin-top:20px;}
	}
	  .detailed-total{
		text-align: center;
	  }
	}
	
	&.flip-active &__front {
		transform: translateX(-100%);
	}
	
	&.flip-active &__back {
		transform: translateX(-100%);
	}
  }
/**/
  .availabel{
	display: block;
	font-weight: 700;
	font-size: 12px;
	color: #60c332;
	margin-top: 5px;
	
}
@media(max-width:1439px){
	.flip-card{
		.txt-24, .title-20, .amount{font-size: 15px;}
	}
	.flip-card .detailed-card__footer{
		&>*+*{margin-top:12px;}
	}
	.flip-card .detailed-card__footer{
		.btn, .btn-primary{font-size: 14px;}
	} 
	.flip-card .detailed-card__row.flex {
		flex-direction: column;
		row-gap: 12px;
	}

}