@use "../base/var" as *;
.post-card{
	width: 100%;
	max-width: 490px;
	font-size: 14px;
	color: #191919;
	&__img{
		width: 100%;
		aspect-ratio: 245/157;
		border-radius: 10px;flex-shrink: 0;
		overflow: hidden;
	}
	&__body, &__body p{
		flex-grow: 1;
	}
	&__body{padding-top: 32px;}
	.breadcrumbs{
		margin-bottom: 20px;
		font-size: 14px;
		a{color: #191919;}
	}
	&__title{
		font-weight: 400;
		font-size: 32px;
		line-height: 1.25;
		font-family: $fs;
		margin-bottom: 22px;
	}
	&__body p{
		margin-bottom: 35px;
		line-height: 129%;
		a{
			text-decoration: underline;
		    text-decoration-skip-ink: none;
		}
		
	}
	.flex-link{
		font-weight: 600;color: #191919;
	}
	@media (max-width: 767px) {
		&__body{
			padding-top: 15px;
			&>*{margin-bottom: 0;}
			&>*+*{margin-top: 15px;}
			p{
				font-size: 12px;
				color: rgba(34, 34, 34, 0.8);
			}
		}
		&__title{
			font-size: 24px;
			letter-spacing: -0.02em;
			color: #222;
		}
	}
}
.post-card, .post-card__body{
	display: flex;
	flex-direction: column;
}
.tabs-block.tabs-block--three  .tabs-body.active{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap:40px;
	row-gap:50px;
	&>*{grid-column: span 4;}
	
}
.tabs-block.tabs-block--three  .tabs-nav{
	margin-bottom: 70px;
	width: 100%;
	justify-content: center;
	
}
.blog-posts .tabs-nav{
	column-gap: 30px;
	a{
		font-size: 13px;
		line-height: 1.48;
		letter-spacing: 0.04em;
		color: rgba(34, 34, 34, 0.7);
	}
}