@use "../base/var" as *;
.post-card{
	width: 100%;
	max-width: 490px;
	font-size: 14px;
	color: #191919;
	&__img{
		width: 100%;
		aspect-ratio: 245/157;
		border-radius: 10px;flex-shrink: 0;
		overflow: hidden;
		@media (max-width: 1199px) {
			height: 190px;
		}
		@media (max-width: 1023px) {
			height: 135px;
		}
		@media (max-width: 767px) {
			height: 195px;
		}
	}
	&__body, &__body p{
		flex-grow: 1;
		@media (max-width: 1023px) {
		font-size: 12px;
		}
	}
	
	.flex{
		justify-content: space-between;
	}
	&__tags{
		
		font-size: 14px;
		span{color: #191919;}
		@media (max-width: 1199px) {
			
			font-size: 12px;
		}
	}
	&__title{
		font-weight: 400;
		font-size: 32px;
		line-height: 1.25;
		font-family: $fs;
		
		@media (max-width: 1199px) {
			font-size: 22px;
			
		}
		
	}
	&__body p{
		
		line-height: 129%;
		a{
			text-decoration: underline;
		    text-decoration-skip-ink: none;
		}
		
	}
	.flex-link{
		font-weight: 600;color: #191919;
		margin-top:auto;
		@media (max-width: 767px) {
		font-size: 14px;
		}
	}
	@media (max-width: 767px) {
		&__body{
			
			
			p{
				font-size: 12px;
				color: rgba(34, 34, 34, 0.8);
				margin-bottom: 12px;
			}
		}
		&__title{
			font-size: 24px;
			letter-spacing: -0.02em;
			color: #222;
		}
	}
}
.post-card, .post-card__body{
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	@media (max-width: 767px) {
		row-gap: 10px;
	}
}
.tabs-block.tabs-block--three  .tabs-body.active{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap:40px;
	row-gap:50px;
	&>*{grid-column: span 4;}
	@media (max-width: 1199px) {
		column-gap:20px;
		row-gap:30px;
	}
	@media (max-width: 767px) {
		&>*{grid-column: span 12;}
	}

}

.blog-posts .tabs-nav{
	column-gap: 30px;
	a{
		font-size: 13px;
		line-height: 1.48;
		letter-spacing: 0.04em;
		color: rgba(34, 34, 34, 0.7);
	}
	@media (max-width: 767px) {
		column-gap: 20px;
	}
}