@use "../base/var" as *;
.product-card{
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 22px 0 rgba(154, 152, 152, 0.1);

	&__img{
		aspect-ratio: 119 /107;
		width: 100%;
		background-color: #EDEDED;
	}
	&__desk{
		padding: 25px;
		background-color: #fff;
		width: 100%;
		.btn{
			@media (max-width: 1023px) {
			  height: 32px;
			  font-size: 16px;
			  line-height: 30px;
			  padding-left: 15px;
			  padding-right: 15px;

			}
		}
	}
	.product-card__title,
    .product-card__price{
	   font-size: 20px;
	  letter-spacing: -0.02em;
	  width: 100%;
	  text-align: center;
	  margin-bottom: 10px;
	  span{white-space: nowrap;}
    }
	.product-card__price{font-weight: 800; margin-top: auto;}
	.product-card__price{margin-bottom: 30px; white-space: nowrap;}

	@media (max-width: 1279px) {
		&__desk{padding: 15px;}
		.product-card__title{
			font-size: 14px;
			letter-spacing: -0.03em;}
		.product-card__price{font-size: 16px; margin-bottom: 15px;}
	}
}