@use "../base/var" as *;
.product-card{
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 22px 0 rgba(154, 152, 152, 0.1);
	transition: .3s;
	padding-bottom: 25px;
	&:hover{
		box-shadow: 0 0 44px 0 rgba(154, 152, 152, 0.1), 0 22px 49px -9px rgba(201, 201, 201, 0.25);
		border-radius: 11px;
		transform: scale(1.04);
	}
	&__img{
		aspect-ratio: 119 /107;
		width: 100%;
		background-color: #EDEDED;
	}
	&__desk{
		padding: 25px;
		padding-bottom: 30px;
		background-color: #fff;
		width: 100%;
		display: flex;
		row-gap:10px;
		.btn{
			@media (max-width: 1023px) {
			  height: 32px;
			  font-size: 16px;
			  line-height: 30px;
			  padding-left: 15px;
			  padding-right: 15px;

			}
		}
	}
	&__desk, &__body{
		flex-grow:1;
		display: flex;flex-direction: column;
	}
	&__title,
    &__price{
	   font-size: 20px;
	  letter-spacing: -0.02em;
	  width: 100%;
	  text-align: center;
	  
	  span{white-space: nowrap;}
    }
	&__price{
		font-weight: 800; 
		margin-top: auto;
	   margin-bottom: 0; 
	  white-space: nowrap;
    }

	@media (max-width: 1279px) {
		padding-bottom: 15px;
		&__desk{padding: 15px;}
		&__title{
			font-size: 14px;
			letter-spacing: -0.03em;}
			&__price{font-size: 16px;}
	}
}