@use "../base/var" as *;
/*product-table*/
.product-table{
	table{
		border-collapse: collapse;
		width: 100%;
		thead tr{background: #f2f2f2;}
		tbody tr td{border-bottom: 1px solid #f2f2f2;}
		th, td{
			padding: 8px 10px;
			text-align: center;
			width: 20%;
			color: #222;font-size: 16px;
			@media (max-width: 1279px) {
				font-size: 12px;
			}
		}
		.table-name{
			padding: 0;
			@media (max-width: 1279px) {
				font-size: 14px;
			}
		}
		.label-hide-chebx{padding: 8px 10px;}
		.table-name span{
			
			letter-spacing: -0.02em;
			text-transform: capitalize;
			color: #222;
			transition: .3s; 
			
		}
		.table-name:hover span,.hide-chebx:checked ~ span {color: $accent;}
		.table-btn .btn{
			height: 36px;
			font-family: $ff;
			font-weight: 400;
			&:hover{
				color: white;
				background-color: $accent;
			}
		}
		.counter{
			margin-inline: 0; display: inline-flex;
			@media (max-width: 1279px) {
				 button{width: 36px;}
			}
			input.counter-value {font-size: 16px; }
		}
		
		
	}
}