@use "../base/var" as *;
/*product-table*/
.product-table{
	table{
		border-collapse: collapse;
		width: 100%;
		table-layout: fixed; 
		thead tr{background: #f2f2f2;}
		tbody tr td{border-bottom: 1px solid #f2f2f2;}
		th, td{
			padding: 8px 10px;
			text-align: center;
			width: 20%;
			color: #222;font-size: 16px;
			@media (max-width: 1279px) {
				font-size: 12px;
			}
			@media (max-width: 1199px) {
			&.table-btn{width: 100px;max-width: 100px!important; text-align: right; a{display: inline-flex;}}
			}
		}
		.table-name{
			padding: 0;
			@media (max-width: 1279px) {
				font-size: 14px;
			}
		}
		.label-hide-chebx{padding: 8px 10px;}
		.table-name span{
			
			letter-spacing: -0.02em;
			text-transform: capitalize;
			color: #222;
			transition: .3s; 
			
		}
		.table-name:hover span,.hide-chebx:checked ~ span {color: $accent;}
		.table-btn .btn{
			height: 36px;
			font-family: $ff;
			font-weight: 400;
			font-size: 18px;
			&:hover{
				color: white;
				background-color: $accent;
			}
			@media (max-width: 1364px) {
				padding-left: 15px;
				padding-right: 15px;
				font-size: 16px;
			}
			@media (max-width: 1199px) {
			  padding-left: 10px;
			  padding-right: 10px;
			  font-size: 14px;
			}
		}
		
		.counter{
			margin-inline: 0; display: inline-flex;
			@media (max-width: 1364px) {
				 button{width: 30px;}
			}
			.counter-value {font-size: 14px;
				@media (max-width: 1649px) {
					font-size: 12px;
			}}
		}
		
		
	}
}