@use "../base/var" as *;
.tabs-block-nav{
	justify-content: space-between;
	margin-bottom: 10px;
	.swiper-nav,.tabs-nav{margin: 0;}
	
}
.tabs-nav{
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	column-gap:28px;
	row-gap:6px;
	width: fit-content;
	justify-content: center;
	@media (max-width: 767px) {
	justify-content: center;
	}
}
.tabs-nav__item {
	font-weight: 500;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $grey;
	white-space: nowrap;
	transition: .3s;
	cursor:pointer;
}

.tabs-nav__item:hover, .tabs-nav__item.active {
	color: $accent;
}

.tabs-body {
	display: none;
}

.tabs-body.active {
display: block;
}