@use "../base/var" as *;
.swiper-separate.swiper{
	padding-top: 10px;
	padding-bottom: 10px;
	.swiper-slide + .swiper-slide{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: -21px;
			width: 1px;
			background-color: rgba(43, 42, 41, .1);
		}
	}
}

.swiper-pagination-bullets{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px;
	margin-top: 16px;
}
.swiper-pagination-bullets .swiper-pagination-bullet{
	height: 10px;
	width: 48px;
	position: relative;
	opacity: 1;
	border-radius: 0;
	background-color: transparent;
	margin: 0;
	&:after{
		content:'';
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		top:4px;
		background-color: #e9e9e9;
		transition: .3s; 
	}
}
.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active:after{background-color: #222222;}

.myswiper-container .swiper-nav{
	margin-left: auto;
	width: fit-content;
	text-align: right;
	margin-bottom: 20px;
}
