extends ../layouts/layout.pug

block content
	include ../sections/_header
	
	main.inner-main
		include ../sections/_about-page-promo
		include ../sections/_about-page-content
		include ../sections/_contacts-form-dark
		
	include ../sections/_footer
	
	
	-var title = "О компании";