extends ../layouts/layout-mob.pug

block content
	include ../sections/_burger-menu
	include ../sections/_header-mob
	
	main.inner-main
		include ../sections/_about-page-promo-mobile
		
		include ../sections/_contacts-form-dark
		
	include ../sections/_footer-mob
	
block variables	
	- var title = "О компании";