extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		.container
			.promo-top
				+breadcrumbs('Корзина')
				
		
		
		section.basket
			.container
				h1.title-24 Корзина
				.basket-content
					//ГРУППА Строй материалы
					.basket-group
						.basket-group__header.flex
							.txt-16 Строй материалы
							button.remove-btn.flex-link
								svg.svg-cross
									use(href='./img/sprite.svg#svg-cross')
									
						//CARD-ROW
						.basket-card
							.basket-card__status
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod_status")
									span.basket-card__status-type
							
							.basket-card__img
								img.wh-100(src="./img/products/prod1.webp", srcset="./img/products/prod1@2x.webp 2x", alt="img" loading="lazy")
							
							.basket-card__desk
								.txt-20 Гусеничный экскаватор Hyundai R 210LC-7
								.specifications-acordion.accordion
									.accordion__item
										.accordion__title
											.accordion__arrow
												svg.svg-carret
													use(href="../img/sprite.svg#svg-carret")
											
											span.accordion__title-text Характеристики
										.accordion__content
											ul.txt-12
												li Модуль крупности: 2.0-2.5
												li Коэфф. фильтрации: до 12 м 
												li Насыпная плотность: 1.6
												li Содержание глины: ≤ 0,25%
								.basket-card__amount 130 200 руб	
							
							
							
							.basket-card__col
								.basket-card__options
									+counter-light
									span.txt-12 от 870 руб./м3
							.basket-card__remove
								button.remove-btn
									span.remove-icon
						//CARD-ROW
						.basket-card
							.basket-card__status
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod_status")
									span.basket-card__status-type
							
							.basket-card__img
								img.wh-100(src="./img/products/prod1.webp", srcset="./img/products/prod1@2x.webp 2x", alt="img" loading="lazy")
							
							.basket-card__desk
								.txt-20 Речной мытый песок
								.specifications-acordion.accordion
									.accordion__item
										.accordion__title
											.accordion__arrow
												svg.svg-carret
													use(href="../img/sprite.svg#svg-carret")
											
											span.accordion__title-text Характеристики
										.accordion__content
											ul.txt-12
												li Модуль крупности: 2.0-2.5
												li Коэфф. фильтрации: до 12 м 
												li Насыпная плотность: 1.6
												li Содержание глины: ≤ 0,25%
								.basket-card__amount 130 200 руб	
							.basket-card__col
								.basket-card__options
									+counter-light
									span.txt-12 от 870 руб./м3
							.basket-card__remove
								button.remove-btn
									span.remove-icon
					
					//ГРУППА Строй материалы
					.basket-group
						.basket-group__header.flex
							.txt-16 Строй материалы
							button.remove-btn.flex-link
								svg.svg-cross
									use(href='./img/sprite.svg#svg-cross')
						//CARD-ROW
						.basket-card
							.basket-card__status
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod_status")
									span.basket-card__status-type
							
							.basket-card__img
								img.wh-100(src="./img/products/prod1.webp", srcset="./img/products/prod1@2x.webp 2x", alt="img" loading="lazy")
							
							.basket-card__desk
								.txt-20 Название товара
								.specifications-acordion.accordion
									.accordion__item
										.accordion__title
											.accordion__arrow
												svg.svg-carret
													use(href="../img/sprite.svg#svg-carret")
											
											span.accordion__title-text Характеристики
										.accordion__content
											ul.txt-12
												li Модуль крупности: 2.0-2.5
												li Коэфф. фильтрации: до 12 м 
												li Насыпная плотность: 1.6
												li Содержание глины: ≤ 0,25%
								.basket-card__amount 130 200 руб	
							
							
							
							.basket-card__col
								.basket-card__options
									+counter-light
									span.txt-12 от 870 руб./м3
							.basket-card__remove
								button.remove-btn
									span.remove-icon
						//CARD-ROW
						.basket-card
							.basket-card__status
								label.label-hide-chebx
									input.hide-chebx(type="checkbox" name="prod_status")
									span.basket-card__status-type
							
							.basket-card__img
								img.wh-100(src="./img/products/prod1.webp", srcset="./img/products/prod1@2x.webp 2x", alt="img" loading="lazy")
							
							.basket-card__desk
								.txt-20 Название товара
								.specifications-acordion.accordion
									.accordion__item
										.accordion__title
											.accordion__arrow
												svg.svg-carret
													use(href="../img/sprite.svg#svg-carret")
											
											span.accordion__title-text Характеристики
										.accordion__content
											ul.txt-12
												li Модуль крупности: 2.0-2.5
												li Коэфф. фильтрации: до 12 м 
												li Насыпная плотность: 1.6
												li Содержание глины: ≤ 0,25%
								.basket-card__amount 130 200 руб	
							.basket-card__col
								.basket-card__options
									+counter-light
									span.txt-12 от 870 руб./м3
							.basket-card__remove
								button.remove-btn
									span.remove-icon
		
				//ИТОГ
				.order-card.detailed-card
					.detailed-card__body
						.order-num.txt-12 Заказ: 105703
						.accordion.order-card-acordion
							.accordion__item
								.accordion__title
									.accordion__arrow
										svg.svg-carret
											use(href="../img/sprite.svg#svg-carret")
									
									span.accordion__title-text.detailed-title.txt-24 Всего в корзине
								.accordion__content
									ul.detailed-list
										li
											span.list__name Строй материалы 
											p.list__val 130 000 руб
										li
											span.list__name Аренда
											p.list__val 500 200 руб
										li
											span.list__name Оборудование 
											p.list__val 30 200 руб
						
						.order-list-total
							span Всего: 
							p.amount 206 200 руб*
				
						.center-txt *Цена указана без учета доставки
					
					.float-order-btn
						a(href="basket-order-mobile.html").btn-primary 
							span Оформить заказ
							span 206 567 руб
		
block variables	
	-var title = "Корзина";