extends ../layouts/layout.pug

block content
	include ../sections/_header
	
	main.inner-main
		include ../sections/_building-page-promo
		include ../sections/_building-page-content
		include ../sections/_pros
		include ../sections/_contacts-form-dark
		
		include ../sections/_building-materials-hide-lg
		include ../sections/_equipment-hide-lg

		include ../sections/_sales
	include ../sections/_footer
	
block variables	
	-var title = "Строительство";
