extends ../layouts/layout.pug

block content
	include ../sections/_header
	
	main.inner-main
		include ../sections/_category-page-mob-content
		
	include ../sections/_footer
	
block variables	
	-var title = "Категории";