extends ../layouts/layout.pug

block content
	include ../sections/_burger-menu
	include ../sections/_header-mob
		
	include ../sections/_contacts
	
	include ../sections/_footer-mob
		
block variables	
	-var title = "Контакты";