extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 THEIA
		.start-page__cards
			a(href="./ui/colors.html") UI-KIT PAGE
			
			a(href="main.html")
				span Главная
			a(href="main-mob.html")
				span Главная mobile
			a(href="blog.html")
				span Блог
			a(href="blog-mob.html")
				span Блог mobile
			a(href="single-blog.html")
				span Одна статья
			a(href="single-blog-mob.html")
				span Одна статья mobile
			a(href="single-product.html")
				span Направление
			a(href="category-page.html")
				span Категории
			a(href="category-page-mobile.html")
				span Категории моб версия
			//- a(href="service-page-mobile.html")
			//- 	span Аренда спец техники моб
			a(href="sub-category-page.html")
				span Подкатегории
			a(href="sub-category-page-mob.html")
				span Подкатегории mobile
			a(href="sub-category-product-page.html")
				span Подкатегории  товар mobile
			
			a(href="product-card.html")
				span Речной песок
			a(href="product-card-mob.html")
				span Речной песок mobile
			
			a(href="basket-page.html")
				span Страница Корзины
			a(href="basket-page-mob.html")
				span Страница Корзины mob
			a(href="basket-order-mobile.html")
				span Оформление Корзины mob
			a(href="about.html")
				span О компании
			a(href="about-mobile.html")
				span О компании моб 
			a(href="suppliers.html")
				span Поставщикам
			a(href="suppliers-mob.html")
				span Поставщикам mobile
			a(href="portfolio.html")
				span Портфолио
			a(href="portfolio-mobile.html")
				span Портфолио моб версия
			a(href="building.html")
				span Строительство
			a(href="building-mob.html")
				span Строительство mobile
			a(href="rent.html")
				span Аренда
			a(href="rent-mob.html")
				span Аренда mobile
			a(href="rent-categories.html")
				span Аренда-Категории
			a(href="rent-categories-mob.html")
				span Аренда-Категории-mobile
			a(href="single-materials-page.html")
				span Материалы<br>Карточка товара
			a(href="single-materials-page-mob.html")
				span Материалы<br>Карточка товара mob
			a(href="single-equipment-page.html")
				span Оборудование<br>Карточка товара
			a(href="single-rent-page.html")
				span Аренда<br>Карточка товара
			a(href="single-rent-page-mob.html")
				span Аренда<br>Карточка товара mob
			a(href="contacts.html")
				span Контакты и офисы
			a(href="modal-calc.html")
				span PopUp форма Рассчет
			a(href="modal-callback.html")
				span PopUp Обратный звонок
			
			
block variables
	-var title = "THEIA";
