extends ../layouts/layout.pug

block content
	.start-page
		h1 Project name
		.start-page__cards
			a(href="./ui/colors.html") UI-KIT PAGE
			
			//- a(href="404.html")
			//- 	span 404
							

block variables
	-var title = "Project name";
