extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		//- include ../sections/_promo-main-page.pug
		include ../sections/_categories.pug
		include ../sections/_building-materials.pug
		include ../sections/_rent.pug
		include ../sections/_sales.pug
		include ../sections/_equipment.pug
		include ../sections/_our-service.pug
		include ../sections/_our-benefits.pug
		include ../sections/_blog-section.pug
		include ../sections/_footer.pug
		
	
	
	-var title = "Главная";
