extends ../layouts/layout.pug

block content
	include ../sections/_burger-menu
	include ../sections/_header-mob
	
	main.inner-main
		include ../sections/_portfolio-mobile-promo
		include ../sections/_portfolio-mobile-content
		
	include ../sections/_footer-mob
	
block variables	
	-var title = "Портфолио";
