extends ../layouts/layout.pug

block content
	include ../sections/_burger-menu
	include ../sections/_header-mob
	main.main
		.promo-mobile-inner
			.promo-mobile__banner.visible-sm.promo-overlay(style="background-image:url(./img/rent-mobile-bg.webp)")
				h1.title-20.txt-white ЭКСКАВАТОР ФРОНТАЛЬНЫЙ
					span.bold-txt 2550 руб/ч
			.promo-mobile-inner__row
				.container
					.promo-top
						+breadcrumbs('Каталог','Аренда','Экскаватор','Каталог','Аренда','Экскаватор','Каталог','Аренда','Экскаватор')
						
		section.product-details
			.container-grid
				.content-grid__frame.gap-40
					.fotorama-wrapper
						//-NAV ARROWS
						//- .mySwiperThumb-next
						//- 	span.arrow-left
						//- .mySwiperThumb-prev
						//- 	span.arrow-right
						.fotorama
							.swiper.mySwiperThumb(thumbsslider)
								.swiper-wrapper
									.swiper-slide
										img(src='./img/fotorama/fotorama1-t.webp' srcset='./img/fotorama/fotorama1-t@2x.webp 2x' width="193" height="130" alt="img")
									.swiper-slide
										img(src='./img/fotorama/fotorama2-t.webp' srcset='./img/fotorama/fotorama2-t@2x.webp 2x' width="193" height="130" alt="img")
									.swiper-slide
										img(src='./img/fotorama/fotorama3-t.webp' srcset='./img/fotorama/fotorama3-t@2x.webp 2x' width="193" height="130" alt="img")
									.swiper-slide
										img(src='./img/fotorama/fotorama1-t.webp' srcset='./img/fotorama/fotorama1-t@2x.webp 2x' width="193" height="130" alt="img")
									.swiper-slide
										img(src='./img/fotorama/fotorama2-t.webp' srcset='./img/fotorama/fotorama2-t@2x.webp 2x' width="193" height="130" alt="img")
									.swiper-slide
										img(src='./img/fotorama/fotorama3-t.webp' srcset='./img/fotorama/fotorama3-t@2x.webp 2x' width="193" height="130" alt="img")
								
							
							.swiper.mySwiperFotorama
							
								.swiper-wrapper
									.swiper-slide
										img(src='./img/fotorama/fotorama1.webp' srcset="./img/fotorama/fotorama1@2x.webp 2x" width="900" height="470" alt="img")
									.swiper-slide
										img(src='./img/fotorama/fotorama2.webp' srcset="./img/fotorama/fotorama2@2x.webp 2x"  width="900" height="470" alt="img")
									.swiper-slide
										img(src='./img/fotorama/fotorama3.webp' srcset="./img/fotorama/fotorama3@2x.webp 2x" width="900" height="470" alt="img")
									.swiper-slide
										img(src='./img/fotorama/fotorama1.webp' srcset="./img/fotorama/fotorama1@2x.webp 2x" width="900" height="470" alt="img")
									.swiper-slide
										img(src='./img/fotorama/fotorama2.webp' srcset="./img/fotorama/fotorama2@2x.webp 2x" width="900" height="470" alt="img")
									.swiper-slide
										img(src='./img/fotorama/fotorama3.webp' srcset="./img/fotorama/fotorama3@2x.webp 2x" width="900" height="470" alt="img")
					
					//visible mobile
					.detailed-card-wrapper.visible-sm
						include ../blocks/_rent-card
					
					.specifications.two-columns
						
						
						.specifications__list
							.specifications__list-block
								p.specifications__list-title Характеристики
								ul.dotted-list
									li
										p.list__name Модуль крупности
										span.line-bwn
										p.list__val 2.0-2.5
									li
										p.list__name Коэфф. фильтрации
										span.line-bwn
										p.list__val до 12 м
									li
										p.list__name Насыпная плотность
										span.line-bwn
										p.list__val 1.6
									li
										p.list__name Содержание глины
										span.line-bwn
										p.list__val ≤ 0,25%
							
							.specifications__list-block
								p.specifications__list-title Применение
								p Изготовление высокопрочного бетона, ЖБИ, ЖБК, тротуарной плитки и кладочного раствора, а также стекла и кирпича.
					
					//ACORDION VISIBLE MOBILE
					.specifications-acordion.accordion
						.accordion__item
							.accordion__title
								.accordion__arrow
									span.accordion__arrow-item
										svg.svg-carret
											use(href="../img/sprite.svg#svg-carret")
								span.accordion__title-text О производителе 
							.accordion__content
								p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве
								p Являясь одной из ведущих строительных компании, ТСИ предлагает комплекс работ в области управления строительством и широкий спектр строительно-монтажных работ в промышленном и гражданском строительстве
								
						

					.review
						include ../sections/_review-swiper
					
					
					//CARDS SLIDER
					.article-slider
						.header-group
							p.title-24 Товары которые вам могут понравиться 
							
						.reccomend-products.swiper
							.swiper-wrapper
								.swiper-slide
									+product-card-ui(5,'ЩПС С2 фракции', '0-20 мм', 2300)
								.swiper-slide
									+product-card-ui(6,'ЩПС С2 фракции', '0-20 мм', 2300)
								.swiper-slide
									+product-card-ui(7,'ЩПС С2 фракции', '0-20 мм', 2300)
								.swiper-slide
									+product-card-ui(8,'ЩПС С2 фракции', '0-20 мм', 2300)
								.swiper-slide
									+product-card-ui(5,'ЩПС С2 фракции', '0-20 мм', 2300)
								
							
							.mySwiper-pagination
							
						//for mobile-link
						.flex-sm.mt-20
							a(href="#!").flex-link Показать больше
								span.arrow-right
		include ../sections/_sales
	include ../sections/_footer
		
block variables	
	-var title = "Карточка товара Аренда";