extends ../layouts/layout.pug

block content
	include ../sections/_header
	
	main.inner-main
		include ../sections/_blog-single-promo
		include ../sections/_blog-single-page-content
		include ../sections/_sales
		include ../sections/_footer
	
	
	-var title = "Блог";
