extends ../layouts/layout.pug

block content
	include ../sections/_header
	
	main.inner-main
		include ../sections/_sub-category-page-content
		include ../sections/_brands-slider
		include ../sections/_additional-products
		include ../sections/_our-benefits
		include ../sections/_sales
		include ../sections/_footer
	
	
	-var title = "Подкатегории";