extends ../layouts/layout.pug

block content
	include ../sections/_header
	
	main.inner-main
		include ../sections/_sub-category-page-content
		include ../sections/_brands-slider
		include ../sections/_additional-products
		include ../sections/_pros
		
		include ../sections/_sales
	include ../sections/_footer
	
block variables	
	-var title = "Подкатегории";