extends ../layouts/layout.pug

block content
	include ../sections/_burger-menu
	include ../sections/_header-mob
	
	main.inner-main
		include ../sections/_suppliers-promo-mob
		
		include ../sections/_pros.pug
		
		section.form-section.dark-bg(style="background-image: url(./img/suppliers-form.webp)")
			.container
				.form-section-content
					h2.h3.white-txt Стать нашим<br>поставщиком 
					form.contacts-form.form-dark
						.form-item
							input(type="text" name="name" placeholder="Имя")
						.form-item
							input(type="text" name="phone" placeholder="Телефон")
						.form-item
							input(type="text" name="email"  placeholder="E-mail")
						.form-item
							textarea( name="message" placeholder="Ваш вопрос *")
						.form-item.form-btn
							button(type="submit").btn.btn--white.sm-100 ОТПРАВИТЬ
		
	include ../sections/_footer-mob
	
block variables	
	-var title = "Поставщикам";