extends ../layouts/layout.pug

block content
	include ../sections/_header
	
	main.inner-main
		include ../sections/_suppliers-promo
		
		//=== SERVICE===
		section.our-service.dark-bg.hide-lg
			.container
				.header-group
					h2.h3.white-txt Наши услуги 
					a(href="#!").btn-outline Посмотреть больше услуг
				.service-cards.swiper
					.swiper-wrapper
						.swiper-slide
							+serv-card(1, 'Частные дома,<br>коттеджи и виллы.', 'Строим комфортные дома из различных материалов (кирпич, дерево, монолит) по типовым и индивидуальным проектам, учитывая ваши индивидуальные предпочтения по планировке, стилю и используемым технологиям.')
						.swiper-slide
							+serv-card(2, 'Коммерческие объекты (офисы, магазины, рестораны).', 'Проектируем и строим функциональные и эстетичные объекты, учитывая специфику вашего бизнеса.')
						.swiper-slide
							+serv-card(3, 'Дороги, транспортные узлы и инженерные коммуникации.', 'Выполняем полный комплекс работ по строительству и ремонту дорожной и инженерной инфраструктуры.')
					
					.service-cards-pagination
		include ../sections/_pros.pug
		
		section.form-section.dark-bg(style="background-image: url(./img/suppliers-form.webp)")
			.container
				.form-section-content
					h2.h3.white-txt Стать нашим<br>поставщиком 
					form.contacts-form.form-dark
						.form-item
							input(type="text" name="name" placeholder="Имя")
						.form-item
							input(type="text" name="phone" placeholder="Телефон")
						.form-item
							input(type="text" name="email"  placeholder="E-mail")
						.form-item
							textarea( name="message" placeholder="Ваш вопрос *")
						.form-item.form-btn
							button(type="submit").btn.btn--white.sm-100 ОТПРАВИТЬ
		
	include ../sections/_footer
	
block variables	
	-var title = "Поставщикам";